header {
  height: 155px;
  position: relative;
  z-index: 999;
}
header .currencies {
  background: white;
  height: 22px;
}
header .currencies .marquee {
  height: 22px;
}
header .currencies .js-marquee {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
header .currencies .item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25vw;
  height: 22px;
  font-size: 14px;
  letter-spacing: 0;
  font-family: "HelveticaNeueRoman";
  margin-top: 3px;
}
header .currencies .item span {
  margin-left: 5px;
}
header .currencies .item span.minus {
  color: #E20000;
}
header .currencies .item span.plus {
  color: #01BB00;
}
header .main {
  background: #F9F9F9;
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.1);
  left: 0;
  right: 0;
  top: 0;
  animation-duration: 0.5s;
  transition: 0.5s;
}
header .main .container {
  height: 55px;
  display: flex;
  align-items: center;
  position: relative;
}
header .main .container .report {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  border: 0.6999999881px solid rgba(117, 117, 117, 0.4);
  border-radius: 20px;
  color: #707070;
  padding: 6px 9px;
  font-size: 13px;
  display: flex;
  align-items: center;
}
header .main .container .report p {
  font-family: "HelveticaNeueLight";
}
header .main .container .report p span {
  font-family: "HelveticaNeueBold";
}
header .main .container .report img {
  margin-right: 6.5px;
  width: 15px;
}
header .main .container .view {
  margin-left: 10px;
  color: #707070;
  display: flex;
  align-items: center;
  font-size: 14px;
}
header .main .container .view p {
  border-bottom: 1px solid #707070;
  font-family: "HelveticaNeueLight";
}
header .main .container .view p span {
  font-family: "HelveticaNeueMedium";
}
header .main .container .view img {
  margin-right: 8px;
  width: 23px;
}
header .main .container .night_mode {
  font-size: 14px;
}
header .main .container .night_mode .checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
header .main .container .night_mode .checkbox + label {
  position: relative;
  padding: 0 50px 0 0;
  cursor: pointer;
}
header .main .container .night_mode .checkbox + label:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 40px;
  height: 23px;
  border-radius: 12px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}
header .main .container .night_mode .checkbox + label:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}
header .main .container .night_mode .checkbox:checked + label:before {
  background: #32556B;
}
header .main .container .night_mode .checkbox:checked + label:after {
  right: 2px;
}
header .main .container .logo {
  width: 20%;
  margin: 5px auto 0;
}
header .main .container .logo img {
  width: 100%;
}
header .main .container .search {
  width: 18px;
  height: 22px;
  margin: 0 21px;
  position: relative;
}
header .main .container .search > a img {
  width: 18px;
}
header .main .container .search.active .input_block {
  transform: translateY(-50%) scaleX(1);
  transition: 0.3s;
}
header .main .container .search .input_block {
  transform: translateY(-50%) scaleX(0);
  position: absolute;
  top: 50%;
  bottom: 0;
  right: -8px;
  display: flex;
  align-items: center;
  background: #F9F9F9;
  border: 1px solid rgba(80, 80, 80, 0.4);
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  height: 29px;
  width: 200px;
  z-index: 99;
  transform-origin: right;
  transition: 0.3s;
  overflow: hidden;
}
header .main .container .search .input_block input {
  background: transparent;
  border: none;
  width: 100%;
}
header .main .container .search .input_block input:focus {
  outline: none;
}
header .main .container .search .input_block a {
  display: flex;
  align-items: center;
}
header .main .container .search .input_block a img {
  width: 15px;
}
header .main .container .language {
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  margin-right: 23px;
  position: relative;
}
header .main .container .language > a {
  color: #707070;
  display: flex;
  align-items: center;
}
header .main .container .language > a img {
  width: 9px;
  margin-left: 2px;
  transition: 0.2s;
}
header .main .container .language .box {
  display: none;
  position: absolute;
  top: 100%;
  left: -5px;
  right: -5px;
  background: white;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 11;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
header .main .container .language .box a {
  padding: 5px 0;
  width: 100%;
  text-align: center;
  transition: 0.5s;
}
header .main .container .language .box a:hover {
  background: #EAEAEA;
  transition: 0.5s;
}
header .main .container .language:hover > a img {
  transform: rotate(-180deg);
  transition: 0.2s;
}
header .main .container .language:hover .box {
  display: flex;
  transition: 0.5s;
}
header .main .container .date {
  display: flex;
  align-items: center;
  font-family: HelveticaNeueRoman;
  color: #707070;
  text-transform: uppercase;
}
header .main .container .date span {
  font-size: 25px;
  line-height: 0;
  margin-top: 4px;
}
header .main .container .date .my {
  font-size: 11px;
  line-height: 11px;
  text-align: center;
}
header .main.fixed {
  position: fixed;
  width: 100vw;
  height: 55px;
  background: #F9F9F9;
  z-index: 9999;
  animation-name: animation;
  transition: none;
}
@keyframes animation {
  0% {
    transform: translateY(-100%);
    opacity: 0;
    transition: 0.5s;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s;
  }
}
header nav {
  width: 100%;
  margin-top: 18px;
  background: #F9F9F9;
}
header nav.bg_transparent {
  background: transparent !important;
}
header nav .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header nav .container a {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 12%;
  height: 35px;
  letter-spacing: 0;
  color: #8C8C8C;
  background: white;
  font-family: HelveticaNeueRoman;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}
header nav .container a span {
  z-index: 4;
  font-size: 15px;
}
header nav .container a:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  background: linear-gradient(to right, #0067A8 0%, #32556B 100%);
  transition: 0.5s;
  width: 0;
  border-radius: 20px;
}
header nav .container a.active {
  color: white;
  transition: 0.1s;
  background: transparent;
}
header nav .container a.active:before {
  transition: 0.5s;
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
}
header nav .container a:hover {
  transition: 0.5s;
  transform: scale(1.1, 1.1);
}
header nav .container a:focus {
  transform: unset;
  transition: 0.5s;
}

footer {
  position: relative;
}
footer .bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
  background: linear-gradient(90deg, #32556B 0%, #2D4C60 48%, #0067A8 100%);
}
footer .overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.7);
}
footer nav {
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid rgba(80, 80, 80, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
footer nav a {
  color: white;
  margin: 0 33px;
  position: relative;
}
footer nav a:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  width: 0;
  border-bottom: 1px solid white;
  transition: 0.5s;
}
footer nav a:hover:before {
  transition: 0.5s;
  width: 100%;
}
footer .container {
  display: flex;
  align-items: center;
  padding: 25px 15px;
}
footer .container .logo {
  width: 20%;
}
footer .container .logo img {
  width: 100%;
}
footer .container p {
  margin: 0 auto;
  color: white;
  display: flex;
  align-items: center;
  font-size: 14px;
}
footer .container p img {
  margin-right: 5px;
}
footer .container .plus18 {
  border: 1px solid white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  padding-top: 2px;
  padding-left: 6px;
  margin-right: 10px;
  color: white;
  font-size: 12px;
  position: relative;
}
footer .container .plus18 span {
  position: absolute;
  right: 3px;
  top: 6px;
  font-size: 10px;
}
footer .container .studio {
  display: flex;
  align-items: center;
}
footer .container .studio span {
  margin-left: 5px;
  color: white;
  line-height: 12px;
  font-size: 11px;
}

.index .cards {
  padding-bottom: 30px;
}
.index .cards .col-md-12, .index .cards .col-md-6, .index .cards .col-md-3 {
  padding-left: 10px;
  padding-right: 10px;
}
.index .cards .col-md-6 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.index .cards .card .inCard {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  padding: 10px 15px 12px 15px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
}
.index .cards .card .inCard .back {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
}
.index .cards .card .inCard .back img {
  filter: brightness(70%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  border-radius: 15px;
}
.index .cards .card .inCard .front {
  color: white;
}
.index .cards .card .inCard .front .quality {
  width: 100%;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  font-family: HelveticaNeueRoman;
}
.index .cards .card .inCard .front .quality img {
  width: 15px;
}
.index .cards .card .inCard .front .quality .hashtag {
  border: 0.6999999881px solid #CACACA;
  border-radius: 23px;
  letter-spacing: 0;
  color: white;
  font-size: 11px;
  padding: 7px 10px 4px 10px;
  margin-right: 10px;
}
.index .cards .card .inCard .front .quality .comments {
  color: #DDDDDD;
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 11px;
}
.index .cards .card .inCard .front .quality .comments img {
  margin-right: 5px;
}
.index .cards .card .inCard .front .quality .likes {
  color: #DDDDDD;
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 11px;
}
.index .cards .card .inCard .front .quality .likes img {
  margin-right: 5px;
}
.index .cards .card .inCard .front .foot {
  display: flex;
  align-items: center;
  color: #DDDDDD;
}
.index .cards .card .inCard .front .foot a {
  height: 26.5px;
  display: flex;
  align-items: center;
  margin-right: auto;
  padding: 0 30px;
  border: 0.6999999881px solid #FFFFFF;
  border-radius: 5px;
  letter-spacing: 1.54px;
  color: #DDDDDD;
  font-size: 14px;
}
.index .cards .card .inCard .front .foot .date {
  display: flex;
  align-items: center;
  letter-spacing: 0;
  font-size: 12px;
  padding-right: 13px;
  padding-top: 5px;
  position: relative;
}
.index .cards .card .inCard .front .foot .date:after {
  content: "";
  position: absolute;
  right: 0;
  top: 1px;
  bottom: 0;
  width: 1px;
  height: 100%;
  background: #707070;
}
.index .cards .card .inCard .front .foot .date img {
  margin-right: 5px;
  margin-top: -2px;
  width: 12px;
}
.index .cards .card .inCard .front .foot .date:hover {
  cursor: default;
}
.index .cards .card .inCard .front .foot .view {
  display: flex;
  align-items: center;
  margin-left: 13px;
  font-size: 11px;
  padding-top: 5px;
}
.index .cards .card .inCard .front .foot .view img {
  margin-right: 5px;
  margin-top: -3px;
  width: 15px;
}
.index .cards .card .inCard .front .foot .view:hover {
  cursor: default;
}
.index .cards .card .inCard .shimmer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #f6f7f8;
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 999;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.index .cards .type1-1 .inCard:hover .back, .index .cards .type1-2 .inCard:hover .back, .index .cards .type2 .inCard:hover .back, .index .cards .type3 .inCard:hover .back {
  filter: blur(3px);
}
.index .cards .type1-1 .inCard:hover .back img, .index .cards .type1-2 .inCard:hover .back img, .index .cards .type2 .inCard:hover .back img, .index .cards .type3 .inCard:hover .back img {
  transition: 0.5s;
  width: 110%;
  height: 110%;
  margin-left: -5%;
  margin-top: -2.5%;
  border-radius: 15px;
}
.index .cards .type1-1 .inCard {
  height: 50vh;
  width: 100%;
}
.index .cards .type1-1 .inCard .front {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.index .cards .type1-1 .inCard .front .title {
  width: 80%;
  letter-spacing: 0.88px;
  font-size: 2vw;
  line-height: 29px;
  font-family: HelveticaNeueBold;
  color: white;
  margin-bottom: 12px;
}
.index .cards .type1-1 .inCard .front .subtitle {
  color: white;
  width: 80%;
  letter-spacing: 0;
  font-size: 1.1vw;
  margin-bottom: 16px;
}
.index .cards .type1-2 .inCard {
  height: 50vh;
  width: 100%;
}
.index .cards .type1-2 .inCard .front {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
.index .cards .type1-2 .inCard .front .quality .hashtag {
  background: linear-gradient(115deg, #32556B 0%, #0067A8 100%, #FFFFFF 100%);
  border: none;
  position: absolute;
  top: 0;
  left: 0;
}
.index .cards .type1-2 .inCard .front .title {
  width: 95%;
  letter-spacing: 0;
  font-size: 1.5vw;
  line-height: 26px;
  font-family: HelveticaNeueBold;
  color: white;
  margin-bottom: 5px;
}
.index .cards .type1-2 .inCard .front .subtitle {
  color: white;
  width: 80%;
  letter-spacing: 0;
  line-height: 15px;
  font-size: 1vw;
  margin-bottom: 16px;
}
.index .cards .type1-2 .inCard .front .foot .date {
  padding-right: 0;
  font-size: 12px;
}
.index .cards .type1-2 .inCard .front .foot .date:after {
  content: unset;
}
.index .cards .type1-2 .inCard .front .foot .view {
  font-size: 12px;
}
.index .cards .type1-2 .inCard .front .foot .view img {
  width: 18px;
}
.index .cards .type2 .inCard {
  height: calc(30vh - 10px);
  width: 100%;
  margin-bottom: 20px;
}
.index .cards .type2 .inCard .front {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}
.index .cards .type2 .inCard .front .quality {
  margin-bottom: 8px;
}
.index .cards .type2 .inCard .front .quality .hashtag, .index .cards .type2 .inCard .front .quality .comments, .index .cards .type2 .inCard .front .quality .likes {
  font-size: 11px;
}
.index .cards .type2 .inCard .front .quality .hashtag img, .index .cards .type2 .inCard .front .quality .comments img, .index .cards .type2 .inCard .front .quality .likes img {
  width: 15px;
}
.index .cards .type2 .inCard .front .title {
  width: 90%;
  letter-spacing: 0.88px;
  font-size: 1.5vw;
  line-height: 24px;
  font-family: HelveticaNeueBold;
  color: white;
  margin-bottom: 4px;
}
.index .cards .type2 .inCard .front .subtitle {
  color: white;
  width: 80%;
  letter-spacing: 0;
  line-height: 15px;
  font-size: 0.9vw;
  margin-bottom: 12px;
}
.index .cards .type2 .inCard .front .foot a {
  font-size: 14px;
}
.index .cards .type2 .inCard .front .foot .date {
  font-size: 12px;
}
.index .cards .type3 .inCard {
  height: calc(20vh - 10px);
  width: 100%;
}
.index .cards .type3 .inCard .front {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.index .cards .type3 .inCard .front .quality {
  margin-bottom: 8px;
}
.index .cards .type3 .inCard .front .quality .hashtag, .index .cards .type3 .inCard .front .quality .comments, .index .cards .type3 .inCard .front .quality .likes {
  font-size: 11px;
}
.index .cards .type3 .inCard .front .quality .hashtag img, .index .cards .type3 .inCard .front .quality .comments img, .index .cards .type3 .inCard .front .quality .likes img {
  width: 15px;
}
.index .cards .type3 .inCard .front .title {
  width: 95%;
  height: calc(100% - 23.38px - 24.38px - 4px - 12px);
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.88px;
  font-size: 1.1vw;
  line-height: 18px;
  font-family: HelveticaNeueBold;
  color: white;
  margin-bottom: 12px;
}
.index .cards .type3 .inCard .front .foot a {
  height: 21.5px;
  font-size: 9px;
  padding-left: 20px;
  padding-right: 20px;
}
.index .cards .type3 .inCard .front .foot .date {
  font-size: 11px;
  padding-right: 8px;
}
.index .cards .type3 .inCard .front .foot .view {
  margin-left: 8px;
}
.index .cards .type4 .inCard {
  height: 50vh;
  width: 100%;
  padding: 0;
}
.index .cards .type4 .inCard .image {
  width: 100%;
  height: 50%;
}
.index .cards .type4 .inCard .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.index .cards .type4 .inCard .image .hashtag {
  background: linear-gradient(115deg, #32556B 0%, #0067A8 100%, #FFFFFF 100%);
  border: none;
  position: absolute;
  top: 15px;
  left: 10px;
  border-radius: 23px;
  letter-spacing: 0;
  color: #DDDDDD;
  font-size: 11px;
  padding: 5px 10px 4px 10px;
}
.index .cards .type4 .inCard .text {
  padding: 0 10px;
}
.index .cards .type4 .inCard .text .quality {
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: HelveticaNeueRoman;
  color: #898989;
}
.index .cards .type4 .inCard .text .quality img {
  margin-right: 8px;
  margin-bottom: 4px;
  width: 12px;
}
.index .cards .type4 .inCard .text .quality .date {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0;
  font-size: 12px;
  width: 33.33333%;
}
.index .cards .type4 .inCard .text .quality .time {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.33333%;
  font-size: 12px;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
}
.index .cards .type4 .inCard .text .quality .view {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.33333%;
  font-size: 12px;
}
.index .cards .type4 .inCard .text .quality .view img {
  width: 15px;
}
.index .cards .type4 .inCard .text .title {
  display: block;
  margin-bottom: 10px;
  letter-spacing: 0.52px;
  color: #000000;
  font-family: HelveticaNeueBold;
  font-size: 18px;
  word-break: break;
  line-height: 20px;
}
.index .cards .type4 .inCard .text .subtitle {
  color: #505050;
  font-size: 13px;
  line-height: 15px;
}
.index .cards .type5 .inCard {
  height: 60vh;
  width: 100%;
  padding: 0;
  padding-bottom: 10px;
  transition: 0.5s;
  background: white;
}
.index .cards .type5 .inCard .image {
  width: 100%;
  height: 50%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  overflow: hidden;
}
.index .cards .type5 .inCard .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.index .cards .type5 .inCard .image .hashtag {
  background: linear-gradient(121deg, #0067A8 0%, #396AFC 100%, #FFFFFF 100%);
  border: none;
  position: absolute;
  top: 15px;
  left: 10px;
  border-radius: 23px;
  letter-spacing: 0;
  color: #DDDDDD;
  font-size: 13px;
  padding: 5px 10px 4px 10px;
}
.index .cards .type5 .inCard .text {
  padding: 0 10px;
  height: calc(50% - 32px);
  background: white;
}
.index .cards .type5 .inCard .text .quality {
  width: 100%;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: HelveticaNeueRoman;
  color: #898989;
}
.index .cards .type5 .inCard .text .quality img {
  margin-right: 8px;
  margin-bottom: 4px;
  width: 13px;
}
.index .cards .type5 .inCard .text .quality .date {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0;
  font-size: 13px;
  width: 33.33333%;
}
.index .cards .type5 .inCard .text .quality .time {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.33333%;
  font-size: 13px;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
}
.index .cards .type5 .inCard .text .quality .view {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.33333%;
  font-size: 13px;
}
.index .cards .type5 .inCard .text .quality .view img {
  width: 18px;
}
.index .cards .type5 .inCard .text .title {
  display: block;
  margin-bottom: 10px;
  letter-spacing: 0.52px;
  color: #000000;
  font-family: HelveticaNeueBold;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
}
.index .cards .type5 .inCard .text .subtitle {
  color: #505050;
  font-size: 14px;
  line-height: 19px;
}
.index .cards .type5 .inCard:hover {
  z-index: 99;
  transform: scale(1.1, 1.1);
}
.index .cards .type5 .inCard .more {
  width: 100%;
  background: white;
}
.index .cards .type5 .inCard .more a {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(102deg, #32556B 0%, #0067A8 100%, #FFFFFF 100%);
  border-radius: 7px;
  height: 32px;
  margin: 0 8px;
  color: white;
  font-family: "FuturaDemiC";
}
.index .news_line {
  border-top: 1px solid #DDDDDD;
  margin-bottom: 30px;
}
.index .news_line .item {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #DDDDDD;
  padding: 20px 0;
}
.index .news_line .item .title {
  display: flex;
  letter-spacing: 0;
  color: #000000;
  width: 50%;
  font-family: HelveticaNeueBold;
  font-size: 1.5vw;
  margin-bottom: 18px;
}
.index .news_line .item .quality {
  width: 100%;
  margin-bottom: 22px;
  display: flex;
  align-items: center;
  font-family: HelveticaNeueRoman;
  color: #898989;
}
.index .news_line .item .quality img {
  width: 15px;
  margin-right: 8px;
  margin-bottom: 4px;
}
.index .news_line .item .quality .hashtag {
  background: linear-gradient(115deg, #32556B 0%, #0067A8 100%, #FFFFFF 100%);
  border-radius: 23px;
  letter-spacing: 0;
  color: white;
  font-size: 13px;
  padding: 0 13px;
  height: 24px;
  display: flex;
  align-items: center;
  margin-right: 25px;
  margin-top: -4px;
}
.index .news_line .item .quality .date {
  display: flex;
  align-items: center;
  letter-spacing: 0;
  font-size: 13px;
  margin-right: 25px;
}
.index .news_line .item .quality .time {
  display: flex;
  align-items: center;
  margin-right: 25px;
  font-size: 13px;
}
.index .news_line .item .quality .view {
  display: flex;
  align-items: center;
  font-size: 13px;
}
.index .news_line .item .quality .view img {
  width: 20px;
}
.index .news_line .item p {
  color: #5D5D5D;
  font-size: 1vw;
}
.index .popular .section_name {
  letter-spacing: 0;
  color: #B4B4B4;
  font-family: HelveticaNeueBlack;
  font-size: 31px;
  padding-left: 20px;
  position: relative;
  margin-bottom: 11px;
}
.index .popular .section_name:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #2948FF;
}
.index .others {
  padding: 0 10px;
  margin-bottom: 30px;
}
.index .others .flickity-viewport:hover {
  cursor: default;
}
.index .others .flickity-prev-next-button {
  width: 25px;
  height: 25px;
  background: white;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.7);
}
.index .others .flickity-prev-next-button svg {
  width: 40%;
  height: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.index .others .flickity-prev-next-button.previous {
  left: 5px;
}
.index .others .flickity-prev-next-button.next {
  right: 5px;
}
.index .others .flickity-page-dots .dot {
  width: 40px;
  height: 3px;
  margin: 0 2px;
  border-radius: 5px;
}
.index .others .flickity-page-dots .dot.is-selected {
  background: #32556B;
}
.index .others .item {
  width: 11.87%;
  height: 30vh;
  margin: 0 5px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}
.index .others .item .back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.index .others .item .back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
}
.index .others .item .front {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 21px 5px;
}
.index .others .item .front a {
  letter-spacing: 0;
  color: #FFFFFF;
  font-family: HelveticaNeueBold;
  line-height: 16px;
  font-weight: 500;
}
.index .others .carousel-cell {
  width: 100%;
  display: flex;
}

.post .post_title {
  margin-bottom: 10px;
  background: white;
  padding: 15px 15px 5px 15px;
  width: 100%;
  border-top-right-radius: 15px;
  position: relative;
}
.post .post_title h1 {
  font-family: HelveticaNeueBold;
  width: 70%;
  font-size: 2vw;
  line-height: 36px;
}
.post .post_title:before {
  border-top-right-radius: 15px;
  content: "";
  position: absolute;
  width: 150%;
  height: 100%;
  left: -50%;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: white;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}
.post .post_title .quality {
  width: 100%;
  display: flex;
  align-items: center;
  font-family: HelveticaNeueRoman;
  color: #898989;
  margin-top: 5px;
  margin-bottom: 5px;
}
.post .post_title .quality img {
  width: 14px;
  margin-right: 4px;
  margin-bottom: 4px;
}
.post .post_title .quality .hashtag {
  background: linear-gradient(115deg, #32556B 0%, #0067A8 100%, #FFFFFF 100%);
  border-radius: 23px;
  letter-spacing: 0;
  color: white;
  font-size: 11px;
  padding: 0 11px;
  height: 18px;
  display: flex;
  align-items: center;
  margin-right: 25px;
}
.post .post_title .quality .from {
  display: flex;
  align-items: center;
  letter-spacing: 0;
  font-size: 12px;
  margin-right: 25px;
}
.post .post_title .quality .from span {
  font-style: italic;
  margin-left: 5px;
}
.post .post_title .quality .date {
  display: flex;
  align-items: center;
  letter-spacing: 0;
  font-size: 12px;
  margin-right: 25px;
}
.post .post_title .quality .time {
  display: flex;
  align-items: center;
  margin-right: 25px;
  font-size: 12px;
}
.post .post_title .quality .view {
  display: flex;
  align-items: center;
  font-size: 12px;
}
.post .post_title .quality .view img {
  width: 20px;
}
.post .context {
  border-bottom-right-radius: 15px;
  background: white;
  padding: 15px 15px 5px 15px;
  position: relative;
}
.post .context:before {
  border-bottom-right-radius: 15px;
  content: "";
  position: absolute;
  width: 150%;
  height: 100%;
  left: -50%;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: white;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}
.post .context p {
  width: 90%;
  color: #595959;
  letter-spacing: 0;
  font-family: HelveticaNeueRoman;
  line-height: 22px;
  margin-bottom: 15px;
}
.post .context .post_img {
  width: 60%;
  height: 40vh;
  border-radius: 15px;
  overflow: hidden;
  margin: 0 auto 15px auto;
}
.post .context .post_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post .smilek {
  background: white;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 12px 74px 10px;
  margin: 16px auto 37px;
  border-radius: 15px;
}
.post .smilek .item {
  margin: 0 30px;
  text-align: center;
}
.post .smilek .item img {
  display: block;
  width: 26px;
  height: 26px;
  margin-bottom: 5px;
  overflow: hidden;
}
.post .smilek .item img:hover {
  cursor: pointer;
}
.post .smilek .item span {
  font-size: 16px;
  color: #727272;
}
.post .comment .quality {
  width: 100%;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  font-family: HelveticaNeueRoman;
}
.post .comment .quality .hashtag {
  background: linear-gradient(121deg, #32556B 0%, #0067A8 100%, #FFFFFF 100%);
  border-radius: 23px;
  letter-spacing: 0;
  color: #DDDDDD;
  font-size: 13px;
  padding: 7px 10px 4px 10px;
  margin-right: 10px;
}
.post .comment .quality .comments {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 13px;
}
.post .comment .quality .comments img {
  margin-right: 5px;
  filter: invert(1);
}
.post .comment .quality .likes {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 13px;
}
.post .comment .quality .likes img {
  margin-right: 5px;
  filter: invert(1);
}
.post .comment .title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.post .comment .title h1 {
  font-family: HelveticaNeueBold;
}
.post .comment .title a {
  display: flex;
  align-items: center;
  width: fit-content;
  border-radius: 37px;
  margin-left: 20px;
  color: white;
  font-family: HelveticaNeueRoman;
  padding: 9px 10px 5px 7px;
  font-size: 13px;
}
.post .comment .title a img {
  width: 15px;
  margin-right: 5px;
  margin-top: -5px;
}
.post .comment .title a.facebook {
  background: #3B5998;
}
.post .comment .title a.twitter {
  background: #19B2F0;
}
.post .comment form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.post .comment form .img {
  width: 40px;
  height: 40px;
}
.post .comment form .img img {
  width: 100%;
  height: 100%;
}
.post .comment form .text {
  padding-left: 15px;
  width: 70%;
  position: relative;
}
.post .comment form .text textarea {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 13px;
  resize: none;
  display: block;
  width: 100%;
  height: 100px;
  padding: 15px 65px 15px 20px;
  font-size: 16px;
  color: black;
  font-family: HelveticaNeueRoman;
}
.post .comment form .text textarea::placeholder {
  color: #9C9C9C;
}
.post .comment form .text textarea:hover {
  cursor: text;
}
.post .comment form .text .close {
  position: absolute;
  right: 10px;
  top: 10px;
}
.post .comment form .text .close img {
  width: 15px;
}
.post .comment form .text .foot {
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
  bottom: 5px;
}
.post .comment form .text .foot a {
  display: block;
  margin-left: 5px;
}
.post .comment form .text .foot img {
  width: 22px;
}
.post .comment form .send {
  margin-left: 40px;
  margin-top: 5px;
  padding-left: 15px;
  width: 70%;
  display: flex;
  margin-bottom: 15px;
}
.post .comment form .send .sign_with {
  display: flex;
  align-items: center;
  color: #9C9C9C;
}
.post .comment form .send .sign_with a {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}
.post .comment form .send .sign_with a img {
  width: 15px;
}
.post .comment form .send .sign_with a.facebook {
  background: #3B5998;
}
.post .comment form .send .sign_with a.insta {
  background: url("../img/gradients-for-photoshop-background-ui-instagram@2x.png") no-repeat;
  background-size: cover;
}
.post .comment form .send .sign_with a.twit {
  background: #48B3F0;
}
.post .comment form .send .submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-top: 15px;
  background: linear-gradient(97deg, #32556B 0%, #0067A8 100%);
  border-radius: 5px;
  color: white;
  padding: 12px 20px 8px 20px;
  letter-spacing: 0.82px;
  font-family: HelveticaNeueRoman;
  font-size: 14px;
}
.post .comment .users {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
}
.post .comment .users .item {
  width: 100%;
  display: flex;
  padding-left: 15px;
  margin-bottom: 10px;
}
.post .comment .users .item .img {
  width: 30px;
  height: 30px;
}
.post .comment .users .item .img img {
  width: 100%;
  height: 100%;
}
.post .comment .users .item .txt {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  margin-top: -20px;
  margin-bottom: 40px;
}
.post .comment .users .item .txt:last-child {
  margin-bottom: 30px;
}
.post .comment .users .item .txt .author_date {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 5px;
  padding-left: 5px;
}
.post .comment .users .item .txt .author_date .author {
  font-weight: 600;
  margin-right: 5px;
}
.post .comment .users .item .txt .author_date .date {
  color: #6C6C6C;
  padding-left: 7px;
  position: relative;
}
.post .comment .users .item .txt .author_date .date:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 3px;
  background: #707070;
  border-radius: 50%;
}
.post .comment .users .item .txt .sms {
  background: white;
  width: fit-content;
  position: relative;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 13px;
  padding: 9px 10px 6px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.post .comment .users .item .txt .sms span {
  position: absolute;
  right: -30px;
  top: 5px;
}
.post .comment .users .item .txt .sms span:hover {
  cursor: pointer;
}
.post .comment .users .item .txt .sms span img {
  width: 20px;
  filter: invert(1);
}
.post .comment .users .item .txt .sms span.liked img {
  filter: unset;
}
.post .comment .users .item .txt .foot {
  display: flex;
  align-items: center;
  padding-left: 5px;
  font-size: 12px;
  color: #6C6C6C;
}
.post .comment .users .item .txt .foot .result {
  position: relative;
  margin-right: 6px;
  padding-right: 7px;
}
.post .comment .users .item .txt .foot .result:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 3px;
  background: #707070;
  border-radius: 50%;
}
.post .comment .users .item .txt .foot a {
  display: block;
  color: #6C6C6C;
  font-size: 14px;
}
.post .comment .users .item:last-child {
  margin-bottom: 0;
}
.post .comment .more {
  display: block;
  margin-bottom: 20px;
  letter-spacing: 0;
  color: #747474;
  font-family: HelveticaNeueMedium;
  font-size: 14px;
}
.post .sidebar {
  background: white;
  border-radius: 15px;
  padding: 20px 20px;
  margin-left: -15px;
  margin-bottom: 30px;
}
.post .sidebar .type4 {
  padding: 0;
}
.post .sidebar .type4 .inCard {
  height: 45vh;
  width: 100%;
  padding: 0;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}
.post .sidebar .type4 .inCard .image {
  width: 100%;
  height: 50%;
}
.post .sidebar .type4 .inCard .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post .sidebar .type4 .inCard .image .hashtag {
  background: linear-gradient(121deg, #0067A8 0%, #396AFC 100%, #FFFFFF 100%);
  border: none;
  position: absolute;
  top: 15px;
  left: 10px;
  border-radius: 23px;
  letter-spacing: 0;
  color: #DDDDDD;
  font-size: 13px;
  padding: 5px 10px 4px 10px;
}
.post .sidebar .type4 .inCard .text {
  height: 50%;
  padding: 0 10px;
}
.post .sidebar .type4 .inCard .text .quality {
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: HelveticaNeueRoman;
  color: #898989;
}
.post .sidebar .type4 .inCard .text .quality img {
  margin-right: 8px;
  margin-bottom: 4px;
  width: 12px;
}
.post .sidebar .type4 .inCard .text .quality .date {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0;
  font-size: 12px;
  width: 40%;
}
.post .sidebar .type4 .inCard .text .quality .time {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  font-size: 12px;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
}
.post .sidebar .type4 .inCard .text .quality .view {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  font-size: 12px;
}
.post .sidebar .type4 .inCard .text .quality .view img {
  width: 17px;
}
.post .sidebar .type4 .inCard .text a {
  display: flex;
  margin-bottom: 10px;
  letter-spacing: 0.52px;
  color: #000000;
  font-family: HelveticaNeueBold;
  font-size: 18px;
  line-height: 96%;
  height: 30%;
  overflow: hidden;
}
.post .sidebar .type4 .inCard .text p {
  color: #505050;
  font-size: 13px;
  display: block;
  line-height: 135%;
  height: 30%;
  overflow: hidden;
}
.post .sidebar .material {
  margin: 20px 0;
}
.post .sidebar .material:last-child {
  margin-bottom: 0;
}
.post .sidebar .material .box_title {
  color: #ADADAD;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: HelveticaNeueMedium;
  letter-spacing: 2px;
  border-top: 1px solid #EAEAEA;
  padding-top: 15px;
}
.post .sidebar .material .big .title {
  display: block;
  font-size: 18px;
  font-family: HelveticaNeueMedium;
  margin-bottom: 5px;
  line-height: 20px;
}
.post .sidebar .material .big .hashtag {
  background: linear-gradient(115deg, #32556B 0%, #0067A8 100%, #FFFFFF 100%);
  border-radius: 23px;
  letter-spacing: 0;
  color: white;
  font-size: 12px;
  padding: 0 13px;
  height: 20px;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-bottom: 10px;
}
.post .sidebar .material .list {
  border-bottom: 1px solid #EAEAEA;
}
.post .sidebar .material .list .item {
  padding: 15px 0;
  border-top: 1px solid #EAEAEA;
}
.post .sidebar .material .list .item a {
  font-size: 14px;
}
.post .news_line {
  border-top: 1px solid #DDDDDD;
}
.post .news_line .item {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #DDDDDD;
  padding: 20px 0;
}
.post .news_line .item .title {
  display: flex;
  letter-spacing: 0;
  color: #000000;
  width: 50%;
  font-family: HelveticaNeueBold;
  font-size: 1.7vw;
  margin-bottom: 18px;
}
.post .news_line .item .quality {
  width: 100%;
  margin-bottom: 22px;
  display: flex;
  align-items: center;
  font-family: HelveticaNeueRoman;
  color: #898989;
}
.post .news_line .item .quality img {
  margin-right: 8px;
  margin-bottom: 4px;
}
.post .news_line .item .quality .hashtag {
  background: linear-gradient(115deg, #32556B 0%, #0067A8 100%, #FFFFFF 100%);
  border-radius: 23px;
  letter-spacing: 0;
  color: white;
  font-size: 12px;
  padding: 7px 13px 4px 13px;
  margin-right: 32px;
}
.post .news_line .item .quality .date {
  display: flex;
  align-items: center;
  letter-spacing: 0;
  font-size: 14px;
  margin-right: 32px;
}
.post .news_line .item .quality .time {
  display: flex;
  align-items: center;
  margin-right: 32px;
  font-size: 14px;
}
.post .news_line .item .quality .view {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.post .news_line .item p {
  color: #5D5D5D;
  font-size: 1vw;
}

.politic {
  position: relative;
}
.politic:before {
  content: "";
  position: absolute;
  z-index: -10;
  background: linear-gradient(white 25%, #ededed);
  width: 100%;
  height: 100%;
}
.politic .banner {
  height: 145px;
  width: 100%;
  position: relative;
  margin-top: -75px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  z-index: 1;
}
.politic .banner:hover {
  cursor: default;
}
.politic .banner .back {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.politic .banner .back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}
.politic .banner .back_text {
  font-size: 11vw;
  line-height: 85px;
  color: rgba(255, 255, 255, 0.1);
  font-family: HelveticaNeueBold;
  position: absolute;
  left: 10px;
  bottom: 0;
  z-index: -1;
}
.politic .banner .front_text {
  position: absolute;
  left: 72%;
  transform: translateX(-72%);
  color: white;
  bottom: 0;
  font-size: 62px;
  line-height: 32px;
  font-family: HelveticaNeueBold;
}
.politic .politic_slider {
  padding: 35px 0 25px;
}
.politic .politic_slider .flickity-viewport {
  overflow: visible;
}
.politic .politic_slider .flickity-viewport:hover {
  cursor: default;
}
.politic .politic_slider .flickity-prev-next-button {
  width: 40px;
  height: 40px;
  background: white;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.7);
}
.politic .politic_slider .flickity-prev-next-button svg {
  width: 40%;
  height: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.politic .politic_slider .flickity-prev-next-button.previous {
  left: 9%;
}
.politic .politic_slider .flickity-prev-next-button.next {
  right: 9%;
}
.politic .politic_slider .type1-1 {
  margin: 0 10px;
  width: 25%;
}
.politic .politic_slider .type1-1 .inCard {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  padding: 10px 15px 12px 15px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
}
.politic .politic_slider .type1-1 .inCard .back {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
}
.politic .politic_slider .type1-1 .inCard .back img {
  filter: brightness(60%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  border-radius: 15px;
}
.politic .politic_slider .type1-1 .inCard .front {
  color: white;
}
.politic .politic_slider .type1-1 .inCard .front .quality {
  width: 100%;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  font-family: HelveticaNeueRoman;
}
.politic .politic_slider .type1-1 .inCard .front .quality img {
  width: 15px;
}
.politic .politic_slider .type1-1 .inCard .front .quality .hashtag {
  border: 0.6999999881px solid #CACACA;
  border-radius: 23px;
  letter-spacing: 0;
  color: #DDDDDD;
  font-size: 10px;
  padding: 5px 10px 2px 10px;
  margin-right: 10px;
}
.politic .politic_slider .type1-1 .inCard .front .quality .comments {
  color: #DDDDDD;
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 11px;
}
.politic .politic_slider .type1-1 .inCard .front .quality .comments img {
  margin-right: 5px;
}
.politic .politic_slider .type1-1 .inCard .front .quality .likes {
  color: #DDDDDD;
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 11px;
}
.politic .politic_slider .type1-1 .inCard .front .quality .likes img {
  margin-right: 5px;
}
.politic .politic_slider .type1-1 .inCard .front .foot {
  display: flex;
  align-items: center;
  color: #DDDDDD;
}
.politic .politic_slider .type1-1 .inCard .front .foot a {
  height: 22px;
  display: flex;
  align-items: center;
  margin-right: auto;
  padding: 0 20px;
  border: 0.6999999881px solid #FFFFFF;
  border-radius: 5px;
  letter-spacing: 1.54px;
  color: #DDDDDD;
  font-size: 11px;
}
.politic .politic_slider .type1-1 .inCard .front .foot .date {
  display: flex;
  align-items: center;
  letter-spacing: 0;
  font-size: 12px;
  padding-right: 13px;
  padding-top: 5px;
  position: relative;
}
.politic .politic_slider .type1-1 .inCard .front .foot .date:after {
  content: "";
  position: absolute;
  right: 0;
  top: 1px;
  bottom: 0;
  width: 1px;
  height: 100%;
  background: #707070;
}
.politic .politic_slider .type1-1 .inCard .front .foot .date img {
  margin-right: 5px;
  margin-top: -2px;
  width: 12px;
}
.politic .politic_slider .type1-1 .inCard .front .foot .view {
  display: flex;
  align-items: center;
  margin-left: 13px;
  font-size: 11px;
  padding-top: 5px;
}
.politic .politic_slider .type1-1 .inCard .front .foot .view img {
  margin-right: 5px;
  margin-top: -3px;
  width: 15px;
}
.politic .politic_slider .type1-1 .inCard .shimmer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #f6f7f8;
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 999;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.politic .politic_slider .type1-1 .inCard {
  height: 30vh;
  width: 100%;
}
.politic .politic_slider .type1-1 .inCard .front {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.politic .politic_slider .type1-1 .inCard .front .title {
  width: 95%;
  letter-spacing: 0.88px;
  font-size: 1.5vw;
  line-height: 22px;
  font-family: HelveticaNeueBold;
  color: white;
  margin-bottom: 10px;
}
.politic .politic_slider .type1-1 .inCard .front .subtitle {
  width: 95%;
  letter-spacing: 0;
  font-size: 0.9vw;
  margin-bottom: 10px;
}
.politic .news_line {
  padding-bottom: 30px;
}
.politic .news_line .item {
  display: flex;
  align-items: center;
  height: 150px;
  margin: 10px 0 0;
  background: white;
  padding: 10px 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
}
.politic .news_line .item:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 100%;
  background: white;
  left: -50%;
  top: 0;
  right: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: -1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.politic .news_line .item .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.politic .news_line .item .text .title {
  display: block;
  font-family: HelveticaNeueMedium;
  font-size: 30px;
  width: 50%;
  line-height: 25px;
  margin-bottom: 5px;
  margin-top: 20px;
}
.politic .news_line .item .text p {
  font-size: 13px;
  width: 80%;
  color: #5D5D5D;
  margin-bottom: 15px;
}
.politic .news_line .item .quality {
  width: 100%;
  margin-bottom: 22px;
  display: flex;
  align-items: center;
  font-family: HelveticaNeueRoman;
  color: #898989;
}
.politic .news_line .item .quality img {
  width: 15px;
  margin-right: 8px;
  margin-bottom: 4px;
}
.politic .news_line .item .quality .hashtag {
  background: linear-gradient(115deg, #32556B 0%, #0067A8 100%, #FFFFFF 100%);
  border-radius: 23px;
  letter-spacing: 0;
  color: white;
  font-size: 11px;
  padding: 0 13px;
  height: 20px;
  display: flex;
  align-items: center;
  margin-right: 25px;
  margin-top: -4px;
}
.politic .news_line .item .quality .date {
  display: flex;
  align-items: center;
  letter-spacing: 0;
  font-size: 13px;
  margin-right: 25px;
}
.politic .news_line .item .quality .time {
  display: flex;
  align-items: center;
  margin-right: 25px;
  font-size: 13px;
}
.politic .news_line .item .quality .view {
  display: flex;
  align-items: center;
  font-size: 13px;
}
.politic .news_line .item .quality .view img {
  width: 20px;
}
.politic .news_line .item .img {
  width: 30%;
  height: 95%;
}
.politic .news_line .item .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.politic .news_line .item .more {
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.politic .news_line .item .more div {
  display: flex;
  align-items: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  padding: 3px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.politic .news_line .item .more div a {
  font-size: 11px;
  background: white;
  padding: 4px;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  color: rgba(93, 93, 93, 0.4);
}
.politic .news_line .item .more div a img {
  transform: rotate(90deg);
  width: 12px;
}
.politic .news_line .item .more div a:first-child {
  margin-right: 3px;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.search_page .content {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  padding: 15px 15px 5px 15px;
  position: relative;
}
.search_page .content:before {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  content: "";
  position: absolute;
  width: 150%;
  height: 100%;
  left: -50%;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: white;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}
.search_page .content form {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: 70%;
  position: relative;
}
.search_page .content form input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 27px;
  border: 1px solid rgba(112, 112, 112, 0.4);
  border-radius: 15px;
  padding: 5px 10px;
  padding-right: 30px;
  font-family: HelveticaNeueMedium;
  color: #32556B;
}
.search_page .content form input::placeholder {
  color: rgba(50, 85, 107, 0.4);
  font-family: HelveticaNeueMedium;
}
.search_page .content form input:focus {
  outline: none;
}
.search_page .content form button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.search_page .content form button img {
  width: 15px;
}
.search_page .content .result {
  color: #32556B;
  font-size: 14px;
  font-family: HelveticaNeueMedium;
  position: relative;
  padding-left: 10px;
  margin-bottom: 10px;
}
.search_page .content .result span {
  font-family: HelveticaNeueBlack;
}
.search_page .content .result:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #00E02D;
}
.search_page .content .news_line .item {
  display: flex;
  align-items: center;
  height: 150px;
  margin-bottom: 15px;
  padding-right: 15px;
  position: relative;
}
.search_page .content .news_line .item:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 100%;
  background: white;
  left: -50%;
  top: 0;
  right: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  z-index: -1;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1);
}
.search_page .content .news_line .item .text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search_page .content .news_line .item .text .title {
  display: block;
  font-family: HelveticaNeueMedium;
  font-size: 25px;
  width: 70%;
  line-height: 25px;
  margin-bottom: 5px;
}
.search_page .content .news_line .item .text p {
  font-size: 13px;
  width: 95%;
  color: #5D5D5D;
  margin-bottom: 10px;
  max-height: 39px;
  overflow: hidden;
}
.search_page .content .news_line .item .quality {
  width: 100%;
  display: flex;
  align-items: center;
  font-family: HelveticaNeueRoman;
  color: #898989;
}
.search_page .content .news_line .item .quality img {
  width: 15px;
  margin-right: 8px;
  margin-bottom: 4px;
}
.search_page .content .news_line .item .quality .hashtag {
  background: linear-gradient(115deg, #32556B 0%, #0067A8 100%, #FFFFFF 100%);
  border-radius: 23px;
  letter-spacing: 0;
  color: white;
  font-size: 11px;
  padding: 0 13px;
  height: 18px;
  display: flex;
  align-items: center;
  margin-right: 25px;
  margin-top: -4px;
}
.search_page .content .news_line .item .quality .date {
  display: flex;
  align-items: center;
  letter-spacing: 0;
  font-size: 12px;
  margin-right: 25px;
}
.search_page .content .news_line .item .quality .time {
  display: flex;
  align-items: center;
  margin-right: 25px;
  font-size: 12px;
}
.search_page .content .news_line .item .quality .view {
  display: flex;
  align-items: center;
  font-size: 12px;
}
.search_page .content .news_line .item .quality .view img {
  width: 20px;
}
.search_page .content .news_line .item .img {
  width: 70%;
  height: 75%;
}
.search_page .content .news_line .item .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.search_page .content .news_line .item .more {
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.search_page .content .news_line .item .more div {
  display: flex;
  align-items: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  padding: 3px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.search_page .content .news_line .item .more div a {
  font-size: 11px;
  background: white;
  padding: 4px;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  color: rgba(93, 93, 93, 0.4);
}
.search_page .content .news_line .item .more div a img {
  transform: rotate(90deg);
  width: 12px;
}
.search_page .content .news_line .item .more div a:first-child {
  margin-right: 3px;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.search_page .sidebar {
  background: white;
  border-radius: 15px;
  padding: 20px 20px;
  margin-left: -15px;
  margin-bottom: 30px;
}
.search_page .sidebar .type4 {
  padding: 0;
}
.search_page .sidebar .type4 .inCard {
  height: 45vh;
  width: 100%;
  padding: 0;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}
.search_page .sidebar .type4 .inCard .image {
  width: 100%;
  height: 50%;
}
.search_page .sidebar .type4 .inCard .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.search_page .sidebar .type4 .inCard .image .hashtag {
  background: linear-gradient(121deg, #0067A8 0%, #396AFC 100%, #FFFFFF 100%);
  border: none;
  position: absolute;
  top: 15px;
  left: 10px;
  border-radius: 23px;
  letter-spacing: 0;
  color: #DDDDDD;
  font-size: 13px;
  padding: 5px 10px 4px 10px;
}
.search_page .sidebar .type4 .inCard .text {
  height: 50%;
  padding: 0 10px;
}
.search_page .sidebar .type4 .inCard .text .quality {
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: HelveticaNeueRoman;
  color: #898989;
}
.search_page .sidebar .type4 .inCard .text .quality img {
  margin-right: 8px;
  margin-bottom: 4px;
  width: 12px;
}
.search_page .sidebar .type4 .inCard .text .quality .date {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0;
  font-size: 12px;
  width: 40%;
}
.search_page .sidebar .type4 .inCard .text .quality .time {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  font-size: 12px;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
}
.search_page .sidebar .type4 .inCard .text .quality .view {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  font-size: 12px;
}
.search_page .sidebar .type4 .inCard .text .quality .view img {
  width: 17px;
}
.search_page .sidebar .type4 .inCard .text a {
  display: flex;
  margin-bottom: 10px;
  letter-spacing: 0.52px;
  color: #000000;
  font-family: HelveticaNeueBold;
  font-size: 18px;
  line-height: 96%;
  height: 30%;
  overflow: hidden;
}
.search_page .sidebar .type4 .inCard .text p {
  color: #505050;
  font-size: 13px;
  display: block;
  line-height: 135%;
  height: 30%;
  overflow: hidden;
}
.search_page .sidebar .material {
  margin: 20px 0;
}
.search_page .sidebar .material:last-child {
  margin-bottom: 0;
}
.search_page .sidebar .material .box_title {
  color: #ADADAD;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: HelveticaNeueMedium;
  letter-spacing: 2px;
  border-top: 1px solid #EAEAEA;
  padding-top: 15px;
}
.search_page .sidebar .material .big .title {
  display: block;
  font-size: 18px;
  font-family: HelveticaNeueMedium;
  margin-bottom: 5px;
  line-height: 20px;
}
.search_page .sidebar .material .big .hashtag {
  background: linear-gradient(115deg, #32556B 0%, #0067A8 100%, #FFFFFF 100%);
  border-radius: 23px;
  letter-spacing: 0;
  color: white;
  font-size: 12px;
  padding: 0 13px;
  height: 20px;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-bottom: 10px;
}
.search_page .sidebar .material .list {
  border-bottom: 1px solid #EAEAEA;
}
.search_page .sidebar .material .list .item {
  padding: 15px 0;
  border-top: 1px solid #EAEAEA;
}
.search_page .sidebar .material .list .item a {
  font-size: 14px;
}

.plus .content {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  padding: 25px 15px;
  position: relative;
}
.plus .content:before {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  content: "";
  position: absolute;
  width: 150%;
  height: 100%;
  left: -50%;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: white;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}
.plus .content p {
  width: 90%;
  font-size: 14px;
  letter-spacing: 0.44px;
  margin-bottom: 15px;
  line-height: 18px;
}
.plus .content p:last-child {
  margin-bottom: 0;
}
.plus .sidebar {
  background: white;
  border-radius: 15px;
  padding: 20px 20px;
  margin-left: -15px;
  margin-bottom: 30px;
}
.plus .sidebar .type4 {
  padding: 0;
}
.plus .sidebar .type4 .inCard {
  height: 45vh;
  width: 100%;
  padding: 0;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}
.plus .sidebar .type4 .inCard .image {
  width: 100%;
  height: 50%;
}
.plus .sidebar .type4 .inCard .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.plus .sidebar .type4 .inCard .image .hashtag {
  background: linear-gradient(121deg, #0067A8 0%, #396AFC 100%, #FFFFFF 100%);
  border: none;
  position: absolute;
  top: 15px;
  left: 10px;
  border-radius: 23px;
  letter-spacing: 0;
  color: #DDDDDD;
  font-size: 13px;
  padding: 5px 10px 4px 10px;
}
.plus .sidebar .type4 .inCard .text {
  height: 50%;
  padding: 0 10px;
}
.plus .sidebar .type4 .inCard .text .quality {
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: HelveticaNeueRoman;
  color: #898989;
}
.plus .sidebar .type4 .inCard .text .quality img {
  margin-right: 8px;
  margin-bottom: 4px;
  width: 12px;
}
.plus .sidebar .type4 .inCard .text .quality .date {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0;
  font-size: 12px;
  width: 40%;
}
.plus .sidebar .type4 .inCard .text .quality .time {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  font-size: 12px;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
}
.plus .sidebar .type4 .inCard .text .quality .view {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  font-size: 12px;
}
.plus .sidebar .type4 .inCard .text .quality .view img {
  width: 17px;
}
.plus .sidebar .type4 .inCard .text a {
  display: flex;
  margin-bottom: 10px;
  letter-spacing: 0.52px;
  color: #000000;
  font-family: HelveticaNeueBold;
  font-size: 18px;
  line-height: 96%;
  height: 30%;
  overflow: hidden;
}
.plus .sidebar .type4 .inCard .text p {
  color: #505050;
  font-size: 13px;
  display: block;
  line-height: 135%;
  height: 30%;
  overflow: hidden;
}
.plus .sidebar .material {
  margin: 20px 0;
}
.plus .sidebar .material:last-child {
  margin-bottom: 0;
}
.plus .sidebar .material .box_title {
  color: #ADADAD;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: HelveticaNeueMedium;
  letter-spacing: 2px;
  border-top: 1px solid #EAEAEA;
  padding-top: 15px;
}
.plus .sidebar .material .big .title {
  display: block;
  font-size: 18px;
  font-family: HelveticaNeueMedium;
  margin-bottom: 5px;
  line-height: 20px;
}
.plus .sidebar .material .big .hashtag {
  background: linear-gradient(115deg, #32556B 0%, #0067A8 100%, #FFFFFF 100%);
  border-radius: 23px;
  letter-spacing: 0;
  color: white;
  font-size: 12px;
  padding: 0 13px;
  height: 20px;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-bottom: 10px;
}
.plus .sidebar .material .list {
  border-bottom: 1px solid #EAEAEA;
}
.plus .sidebar .material .list .item {
  padding: 15px 0;
  border-top: 1px solid #EAEAEA;
}
.plus .sidebar .material .list .item a {
  font-size: 14px;
}

.modal {
  visibility: hidden;
  opacity: 0;
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.modal .bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.7);
}
.modal input:focus {
  outline: none;
}
.modal.active {
  visibility: visible;
  opacity: 1;
}
.modal.active .modal_container {
  margin-top: 0 !important;
  transition: 1s !important;
}
.modal.modal_report .modal_container {
  position: relative;
  display: flex;
  margin-top: 100vh;
  transition: 1s;
}
.modal.modal_report .modal_container .close {
  position: absolute;
  right: -17px;
  top: -35px;
  background: white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal.modal_report .modal_container .close img {
  width: 8px;
  filter: brightness(0);
}
.modal.modal_report .modal_container .close:hover {
  cursor: pointer;
}
.modal.modal_report .modal_container form {
  background: white;
  width: 25vw;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 20px 25px 20px 15px;
  border-radius: 20px;
  font-family: HelveticaNeueLight;
}
.modal.modal_report .modal_container form .line {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.modal.modal_report .modal_container form .line textarea {
  width: 100%;
  height: 22.5vh;
  resize: none;
  background: #EAEAEA;
  border-radius: 10px;
  padding: 10px 7px;
}
.modal.modal_report .modal_container form .line textarea:hover {
  cursor: text;
}
.modal.modal_report .modal_container form .line .mediafile {
  margin-left: auto;
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  color: #898989;
}
.modal.modal_report .modal_container form .line .mediafile img {
  width: 15px;
  transform: rotate(25deg);
  filter: brightness(110%);
}
.modal.modal_report .modal_container form .line #number {
  width: 100%;
  background: #EAEAEA;
  border: none;
  border-radius: 15px;
  height: 25px;
  padding: 0 7px;
}
.modal.modal_report .modal_container form .line #name {
  width: 50%;
  background: #EAEAEA;
  border: none;
  border-radius: 15px;
  height: 25px;
  padding: 0 7px;
}
.modal.modal_report .modal_container form .line .anonym {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.modal.modal_report .modal_container form .line .anonym label {
  font-size: 12px;
  color: #898989;
  margin-right: 4px;
}
.modal.modal_report .modal_container form .line .anonym label:hover {
  cursor: pointer;
}
.modal.modal_report .modal_container form button[type=submit] {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #32556B 0%, #0067A8 100%);
  height: 27px;
  border-radius: 15px;
  color: white;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.modal.modal_report .modal_container .about {
  background: white;
  width: 25vw;
  margin: -15px 0;
  margin-left: -10px;
  border-radius: 20px;
  box-shadow: 4px 3px 19px rgba(0, 0, 0, 0.1);
  padding: 35px 35px;
  position: relative;
}
.modal.modal_report .modal_container .about h1 {
  color: #32556B;
  font-family: HelveticaNeueBold;
  position: absolute;
  z-index: 2;
  font-size: 45px;
  line-height: 35px;
}
.modal.modal_report .modal_container .about h1 span {
  font-size: 38px;
  display: block;
  color: #0067A8;
  font-family: HelveticaNeueRoman;
}
.modal.modal_report .modal_container .about img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
}
.modal.modal_sign_in .modal_container {
  margin-top: 100vh;
  background: #FBFBFB;
  width: 30vw;
  border-radius: 30px;
  position: relative;
  transition: 3s;
}
.modal.modal_sign_in .modal_container .close {
  position: absolute;
  right: -15px;
  top: -15px;
  background: white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal.modal_sign_in .modal_container .close img {
  width: 8px;
  filter: brightness(0);
}
.modal.modal_sign_in .modal_container .close:hover {
  cursor: pointer;
}
.modal.modal_sign_in .modal_container .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}
.modal.modal_sign_in .modal_container .header a {
  text-align: center;
  margin-bottom: 15px;
}
.modal.modal_sign_in .modal_container .header a img {
  width: 50%;
}
.modal.modal_sign_in .modal_container .header > img {
  width: 20%;
}
.modal.modal_sign_in .modal_container form {
  padding: 0 30px;
  overflow: hidden;
}
.modal.modal_sign_in .modal_container form .line {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
}
.modal.modal_sign_in .modal_container form .line input {
  width: 100%;
  height: 45px;
  background: white;
  border: none;
  border-radius: 13px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  padding: 0 15px 0 40px;
  font-size: 18px;
}
.modal.modal_sign_in .modal_container form .line input::placeholder {
  color: #898989;
}
.modal.modal_sign_in .modal_container form .line.focus input::placeholder {
  color: #0067A8;
}
.modal.modal_sign_in .modal_container form .line.focus img {
  filter: unset;
}
.modal.modal_sign_in .modal_container form .line .login_img, .modal.modal_sign_in .modal_container form .line .password_img {
  width: 15px;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  filter: contrast(0);
}
.modal.modal_sign_in .modal_container form .line .hide {
  position: absolute;
  right: 15px;
  top: 55%;
  transform: translateY(-50%);
}
.modal.modal_sign_in .modal_container form .line .hide a img {
  width: 25px;
}
.modal.modal_sign_in .modal_container form .line .hide a.hiden_icon {
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.modal.modal_sign_in .modal_container form .line .remember {
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding-left: 5px;
  color: #898989;
}
.modal.modal_sign_in .modal_container form .line .remember .checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.modal.modal_sign_in .modal_container form .line .remember .checkbox + label {
  position: relative;
  padding: 0 0 0 25px;
  cursor: pointer;
}
.modal.modal_sign_in .modal_container form .line .remember .checkbox + label:before {
  content: "";
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 12px;
  background: white;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);
  transition: 0.2s;
}
.modal.modal_sign_in .modal_container form .line .remember .checkbox + label:after {
  display: none;
  content: "";
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  left: 1.5px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #32556B;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
.modal.modal_sign_in .modal_container form .line .remember .checkbox:checked + label:after {
  display: block;
}
.modal.modal_sign_in .modal_container form .line .forget {
  padding-right: 5px;
  display: flex;
  align-items: center;
  height: 30px;
  margin-left: auto;
  color: #0067A8;
  font-style: italic;
  font-size: 12px;
}
.modal.modal_sign_in .modal_container form .line.with a {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #737373;
  background: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}
.modal.modal_sign_in .modal_container form .line.with a img {
  width: 20px;
  margin-right: 10px;
}
.modal.modal_sign_in .modal_container form .line.with a span {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  white-space: nowrap;
}
.modal.modal_sign_in .modal_container form .line button {
  margin: 0 auto;
  width: 90%;
  height: 40px;
  border-radius: 25px;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #32556B 0%, #0067A8 100%);
}
.modal.modal_sign_in .modal_container form .register {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -30px;
  margin-right: -30px;
  padding: 15px 0;
  color: #898989;
  box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.1);
  font-family: HelveticaNeueMedium;
}
.modal.modal_sign_up .modal_container {
  background: #FBFBFB;
  width: 30vw;
  border-radius: 30px;
  position: relative;
}
.modal.modal_sign_up .modal_container .close {
  position: absolute;
  right: -15px;
  top: -15px;
  background: white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal.modal_sign_up .modal_container .close img {
  width: 8px;
  filter: brightness(0);
}
.modal.modal_sign_up .modal_container .close:hover {
  cursor: pointer;
}
.modal.modal_sign_up .modal_container .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}
.modal.modal_sign_up .modal_container .header a {
  text-align: center;
  margin-bottom: 15px;
}
.modal.modal_sign_up .modal_container .header a img {
  width: 50%;
}
.modal.modal_sign_up .modal_container .header > img {
  width: 20%;
}
.modal.modal_sign_up .modal_container form {
  padding: 0 30px;
  overflow: hidden;
}
.modal.modal_sign_up .modal_container form .line {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
  position: relative;
}
.modal.modal_sign_up .modal_container form .line label {
  margin-bottom: 5px;
  color: #0067A8;
  font-size: 14px;
}
.modal.modal_sign_up .modal_container form .line input {
  width: 100%;
  height: 45px;
  background: white;
  border: none;
  border-radius: 13px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  padding: 0 15px 0 40px;
  font-size: 18px;
}
.modal.modal_sign_up .modal_container form .line input::placeholder {
  color: #898989;
}
.modal.modal_sign_up .modal_container form .line.focus input::placeholder {
  color: #0067A8;
}
.modal.modal_sign_up .modal_container form .line.focus > img {
  filter: unset;
}
.modal.modal_sign_up .modal_container form .line > img {
  width: 15px;
  position: absolute;
  left: 15px;
  top: calc(50% + 9px);
  transform: translateY(-50%);
  filter: contrast(0);
}
.modal.modal_sign_up .modal_container form .line .hide1, .modal.modal_sign_up .modal_container form .line .hide2 {
  position: absolute;
  right: 15px;
  top: calc(50% + 12px);
  transform: translateY(-50%);
}
.modal.modal_sign_up .modal_container form .line .hide1 a img, .modal.modal_sign_up .modal_container form .line .hide2 a img {
  width: 25px;
}
.modal.modal_sign_up .modal_container form .line .hide1 a.hiden_icon, .modal.modal_sign_up .modal_container form .line .hide2 a.hiden_icon {
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.modal.modal_sign_up .modal_container form button {
  margin: 0 auto;
  width: 90%;
  height: 40px;
  border-radius: 25px;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #32556B 0%, #0067A8 100%);
}
.modal.modal_sign_up .modal_container form p {
  width: 80%;
  font-size: 12px;
  color: #898989;
  text-align: center;
  margin: 10px auto;
}
.modal.modal_sign_up .modal_container form p span {
  font-weight: 700;
}

.right_fixed {
  position: fixed;
  right: 0;
  top: 97%;
  transform: translateY(-97%);
}
.right_fixed .arrow {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  background: white;
  box-shadow: 0 2px 7px rgba(80, 80, 80, 0.7);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-right: 5px;
}
.right_fixed .arrow img {
  width: 20px;
}
.right_fixed .arrow.show {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
.right_fixed .social {
  width: 45px;
  height: 50px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  overflow: hidden;
  background: url("../img/instagram-background-gradient-colors_23-2147821882.svg") no-repeat;
  background-position-x: -20px;
  background-size: 200% 100%;
}
.right_fixed .social .flickity-viewport:hover {
  cursor: default;
}
.right_fixed .social .item {
  width: 100%;
  height: 100%;
}
.right_fixed .social .item a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right_fixed .social .item a img {
  width: 30px;
  margin-left: 3px;
}

.f9f9f9_body {
  position: relative;
}
.f9f9f9_body > .overlay {
  background: #F9F9F9;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -5;
}

/*# sourceMappingURL=main.css.map */
