body {
  max-width: 575px;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
}
body {
  overflow: -moz-scrollbars-none;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: 100%;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}
@media screen and (max-width: 575px) {
  header .container {
    padding: 0 10px;
  }
  header .currencies {
    height: 42px;
    padding: 0 10px;
    margin-bottom: 55px;
    overflow: hidden;
  }
  header .currencies .js-marquee {
    display: flex;
    align-items: center;
    height: 42px;
    width: 100vw;
  }
  header .currencies .item {
    width: 33.3333%;
  }
  header .currencies .item .name {
    display: flex;
    align-items: flex-end;
    font-size: 10px;
    margin-bottom: 3px;
    letter-spacing: 0;
    font-family: HelveticaNeueBold;
  }
  header .currencies .item .name span {
    color: #969696;
    font-size: 8px;
    margin-left: 4px;
  }
  header .currencies .item .number {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #32556B;
    font-family: HelveticaNeueBold;
  }
  header .currencies .item .number img {
    margin: 0 5px;
  }
  header .currencies .item .number.minus span {
    color: #FF0000;
  }
  header .currencies .item .number.plus span {
    color: #00A848;
  }
  header .currencies .item .number.plus img {
    transform: rotate(180deg);
  }
  header .main {
    background: #F9F9F9;
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    right: 0;
    top: 42px;
    width: 100%;
    z-index: 999;
  }
  header .main .container {
    height: 55px;
    display: flex;
    align-items: center;
  }
  header .main .container .menu_icon {
    width: 25px;
    position: relative;
  }
  header .main .container .menu_icon a {
    width: 25px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5s;
  }
  header .main .container .menu_icon a span:first-child {
    width: 85%;
    height: 2px;
    background: #258090;
    margin-left: auto;
  }
  header .main .container .menu_icon a span:nth-child(2) {
    width: 100%;
    height: 2px;
    background: black;
  }
  header .main .container .menu_icon a span:nth-child(3) {
    width: 80%;
    height: 2px;
    background: #258090;
  }
  header .main .container .menu_icon a.hide {
    margin-left: -100px;
    transition: 0.5s;
  }
  header .main .container .menu_icon img {
    position: absolute;
    left: -100px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    transition: 0.5s;
  }
  header .main .container .menu_icon img:hover {
    cursor: pointer;
  }
  header .main .container .menu_icon img.show {
    left: 0;
    transition: 0.5s;
  }
  header .main .container .logo {
    width: 50%;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  header .main .container .logo img {
    width: 100%;
  }
  header .main .container .logo1 {
    width: 50%;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  header .main .container .logo1 img {
    width: 100%;
  }
  header .main .container .logo2 {
    display: none;
    width: 50%;
    align-items: center;
    margin: 0 auto;
  }
  header .main .container .logo2 img {
    width: 100%;
  }
  header .main .container .search {
    position: relative;
    height: 29px;
    display: flex;
    align-items: center;
  }
  header .main .container .search > a {
    width: 18px;
    height: 19px;
  }
  header .main .container .search > a span {
    display: block;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
  }
  header .main .container .search > a span:after {
    content: "";
    position: absolute;
    right: -4px;
    bottom: -5px;
    background: #258090;
    width: 5px;
    height: 2px;
    transform: rotate(45deg);
  }
  header .main .container .search.active .input_block {
    transform: translateY(-50%) scaleX(1);
    transition: 0.3s;
  }
  header .main .container .search .input_block {
    transform: translateY(-50%) scaleX(0);
    position: absolute;
    top: 50%;
    bottom: 0;
    right: -4px;
    display: flex;
    align-items: center;
    background: #F9F9F9;
    border: 1px solid rgba(80, 80, 80, 0.4);
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    height: 29px;
    width: calc(100vw - 10px);
    z-index: 99;
    transform-origin: right;
    transition: 0.3s;
    overflow: hidden;
  }
  header .main .container .search .input_block input {
    background: transparent;
    border: none;
    width: 100%;
  }
  header .main .container .search .input_block input:focus {
    outline: none;
  }
  header .main .container .search .input_block a {
    display: flex;
    align-items: center;
  }
  header .main .container .search .input_block a img {
    width: 12px;
  }
  header .main.transparent {
    background: transparent;
    box-shadow: none;
    top: 0;
    position: fixed;
  }
  header .main.transparent .container .menu_icon a span {
    background: white;
  }
  header .main.transparent .container .search span {
    border-color: white;
  }
  header .main.transparent .container .search span:after {
    background: white;
  }
  header .main.fixed {
    position: fixed;
    top: 0;
  }
  header .main.top-0 {
    background: #F9F9F9 !important;
    top: 0;
    transition: 0.5s ease;
  }
  header .main.invert .container .search span {
    border-color: black;
  }
  header .main.invert .container .search span:after {
    background: #258090;
  }
  header nav .container {
    overflow: auto;
    justify-content: normal;
    padding: 0;
    padding-left: 10px;
    display: flex;
    align-items: center;
  }
  header nav .container a {
    white-space: nowrap;
    min-width: fit-content;
    padding: 0 10px;
    height: 25px;
    margin-right: 15px;
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 12%;
    letter-spacing: 0;
    color: #8C8C8C;
    padding-top: 4px;
    font-family: HelveticaNeueRoman;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
  }
  header nav .container a span {
    font-size: 13px;
    z-index: 4;
  }
  header nav .container a:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    background: linear-gradient(to right, #0067A8 0%, #32556B 100%);
    transition: 0.5s;
    width: 0;
    border-radius: 20px;
  }
  header nav .container a.active {
    color: white;
    transition: 0.1s;
  }
  header nav .container a.active:before {
    transition: 0.5s;
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
  }
  header nav .container a:hover {
    transform: scale(1.05, 1.05);
    transition: 0.5s;
  }
  header nav .container::-webkit-scrollbar {
    display: none;
  }
  header nav .container {
    -ms-overflow-style: none;
  }
  header nav .container {
    overflow: -moz-scrollbars-none;
  }

  footer {
    background: black;
    display: flex;
    flex-direction: column;
  }
  footer .logo {
    width: 60%;
    margin: 15px auto;
  }
  footer .logo img {
    width: 100%;
  }
  footer p {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
  }
  footer p img {
    width: 10px;
    margin-top: -3px;
    margin-right: 5px;
  }
  footer .last {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  footer .last .plus18 {
    border: 1px solid white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    padding-top: 2px;
    padding-left: 4px;
    margin-right: auto;
    color: white;
    font-size: 10px;
    position: relative;
    margin-left: 5%;
  }
  footer .last .plus18 span {
    position: absolute;
    right: 2px;
    top: 5px;
    font-size: 10px;
  }
  footer .last .studio {
    margin-left: auto;
    color: white;
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
  }
  footer .last .studio span {
    font-size: 10px;
    font-family: HelveticaNeueLight;
  }
  footer .last .studio a {
    display: flex;
    width: 70%;
  }
  footer .last .studio a img {
    width: 100%;
  }

  .menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 55px;
    height: 0;
    z-index: 55;
    overflow: hidden;
  }
  .menu .content {
    position: relative;
    height: calc(100vh - 55px);
    width: 100vw;
    padding: 10px 10px;
  }
  .menu .content:before {
    content: "";
    position: absolute;
    z-index: -5;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: white;
  }
  .menu .content .top {
    display: flex;
    align-items: center;
  }
  .menu .content .top .report {
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    color: #707070;
    height: 30px;
    padding: 0 9px;
    font-size: 13px;
    display: flex;
    align-items: center;
  }
  .menu .content .top .report p {
    font-family: "HelveticaNeueLight";
  }
  .menu .content .top .report p span {
    font-family: "HelveticaNeueBold";
  }
  .menu .content .top .report img {
    margin-right: 6.5px;
    width: 15px;
  }
  .menu .content .top .language {
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0;
    font-weight: 400;
    margin: 0 auto;
    position: relative;
  }
  .menu .content .top .language > a {
    color: #707070;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 12px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
  }
  .menu .content .top .language > a img {
    width: 6px;
    transition: 0.2s;
  }
  .menu .content .top .language .box {
    display: none;
    position: absolute;
    top: 100%;
    left: -5px;
    right: -5px;
    background: white;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 11;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  .menu .content .top .language .box a {
    padding: 5px 0;
    width: 100%;
    text-align: center;
    transition: 0.5s;
  }
  .menu .content .top .language .box a:hover {
    background: #EAEAEA;
    transition: 0.5s;
  }
  .menu .content .top .language:hover > a img {
    transform: rotate(-180deg);
    transition: 0.2s;
  }
  .menu .content .top .language:hover .box {
    display: flex;
    transition: 0.5s;
  }
  .menu .content .top .date {
    display: flex;
    align-items: center;
    font-family: HelveticaNeueRoman;
    color: #707070;
    text-transform: uppercase;
  }
  .menu .content .top .date span {
    font-size: 25px;
    line-height: 0;
    margin-top: 4px;
  }
  .menu .content .top .date .my {
    font-size: 11px;
    line-height: 11px;
    text-align: center;
  }
  .menu .content .links {
    height: calc(100% - 190px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .menu .content .links a {
    margin: 15px 0;
    font-size: 18px;
  }
  .menu .content .bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu .content .bottom .view {
    font-size: 14px;
    display: flex;
    padding: 15px 10px;
    position: relative;
  }
  .menu .content .bottom .view:before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .menu .content .bottom .view label {
    height: 100%;
    display: flex;
    align-items: center;
    font-family: HelveticaNeueLight;
    color: #707070;
    font-size: 20px;
  }
  .menu .content .bottom .view label span {
    margin-left: 5px;
    font-family: HelveticaNeueMedium;
  }
  .menu .content .bottom .view .checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
  }
  .menu .content .bottom .view .checkbox + label {
    position: relative;
    padding: 0 50px 0 0;
    cursor: pointer;
  }
  .menu .content .bottom .view .checkbox + label:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 35px;
    height: 20px;
    border-radius: 12px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
  }
  .menu .content .bottom .view .checkbox + label:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 17px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
  }
  .menu .content .bottom .view .checkbox:checked + label:before {
    background: #32556B;
  }
  .menu .content .bottom .view .checkbox:checked + label:after {
    right: 2px;
  }
  .menu .content .bottom .night_mode {
    font-size: 14px;
    display: flex;
    padding: 15px 10px;
    position: relative;
  }
  .menu .content .bottom .night_mode:before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .menu .content .bottom .night_mode:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .menu .content .bottom .night_mode label {
    height: 100%;
    display: flex;
    align-items: center;
    font-family: HelveticaNeueLight;
    color: #707070;
    font-size: 16px;
  }
  .menu .content .bottom .night_mode label span {
    font-family: HelveticaNeueMedium;
    margin-right: 5px;
  }
  .menu .content .bottom .night_mode .checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
  }
  .menu .content .bottom .night_mode .checkbox + label {
    position: relative;
    padding: 0 50px 0 0;
    cursor: pointer;
  }
  .menu .content .bottom .night_mode .checkbox + label:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 35px;
    height: 20px;
    border-radius: 12px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
  }
  .menu .content .bottom .night_mode .checkbox + label:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 17px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
  }
  .menu .content .bottom .night_mode .checkbox:checked + label:before {
    background: #32556B;
  }
  .menu .content .bottom .night_mode .checkbox:checked + label:after {
    right: 2px;
  }
  .menu .content .bottom .social {
    padding: 15px 10px;
    display: flex;
    align-items: center;
  }
  .menu .content .bottom .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    margin: 0 5px;
    border-radius: 50%;
  }
  .menu .content .bottom .social a img {
    width: 20px;
  }
  .menu .content .bottom .social a:last-child img {
    width: 10px;
  }
  .menu.show {
    height: calc(100vh - 55px);
    transition: 1s ease;
  }

  .index {
    position: relative;
  }
  .index .overlay {
    position: absolute;
    z-index: -2;
    background: rgba(249, 249, 249, 0.7);
    width: 100%;
    height: 100%;
  }
  .index .cards.p-10 {
    padding: 0 10px;
  }
  .index .cards .big_cards {
    margin-bottom: 30px;
  }
  .index .cards .big_cards .flickity-page-dots .dot {
    background: white;
    opacity: 1;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    margin: 0 5px;
  }
  .index .cards .big_cards .flickity-page-dots .is-selected {
    background: #32556B;
  }
  .index .cards .big_cards .item {
    padding-left: 10px;
  }
  .index .cards .big_cards .item .inCard {
    width: calc(100vw + 50px);
    height: 220px;
    position: relative;
  }
  .index .cards .big_cards .item .inCard .back {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
  }
  .index .cards .big_cards .item .inCard .back img {
    filter: brightness(70%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    border-radius: 15px;
  }
  .index .cards .big_cards .item .inCard .front {
    width: calc(100% - 50px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5px 15px;
  }
  .index .cards .big_cards .item .inCard .front > a {
    font-family: HelveticaNeueBold;
    font-size: 22px;
    letter-spacing: 0.46px;
    color: #FFFFFF;
    margin-bottom: 10px;
  }
  .index .cards .big_cards .item .inCard .front .foot {
    display: flex;
    align-items: center;
  }
  .index .cards .big_cards .item .inCard .front .foot .quality {
    display: flex;
    align-items: center;
    font-family: HelveticaNeueRoman;
  }
  .index .cards .big_cards .item .inCard .front .foot .quality img {
    width: 13px;
  }
  .index .cards .big_cards .item .inCard .front .foot .quality .hashtag {
    border: 0.6999999881px solid #CACACA;
    border-radius: 23px;
    letter-spacing: 0;
    color: #DDDDDD;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    padding: 0 10px;
    margin-right: 5px;
  }
  .index .cards .big_cards .item .inCard .front .foot .quality .comments {
    color: #DDDDDD;
    display: flex;
    align-items: center;
    margin-right: 5px;
    font-size: 10px;
  }
  .index .cards .big_cards .item .inCard .front .foot .quality .comments img {
    margin-right: 3px;
  }
  .index .cards .big_cards .item .inCard .front .foot .quality .likes {
    color: #DDDDDD;
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 11px;
  }
  .index .cards .big_cards .item .inCard .front .foot .quality .likes img {
    margin-right: 3px;
  }
  .index .cards .big_cards .item .inCard .front .foot .date {
    margin-left: auto;
    display: flex;
    align-items: center;
    font-size: 11px;
    color: white;
    font-family: HelveticaNeueRoman;
  }
  .index .cards .big_cards .item .inCard .front .foot .date span {
    margin: 0 5px;
    width: 1px;
    height: 10px;
    background: white;
    display: flex;
    align-items: center;
  }
  .index .cards .type1 {
    margin: 15px 0;
  }
  .index .cards .type1 .inCard {
    height: 220px;
    width: 100%;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .index .cards .type1 .inCard .image {
    height: calc(100% - 60px);
    width: 100%;
    position: relative;
  }
  .index .cards .type1 .inCard .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  .index .cards .type1 .inCard .image a {
    position: absolute;
    left: 15px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: fit-content;
    padding: 0 12px;
    font-family: HelveticaNeueLight;
    color: white;
    background: linear-gradient(118deg, #32556b 0%, #0067a8 100%, white 100%);
    border-radius: 23px;
    font-size: 12px;
  }
  .index .cards .type1 .inCard .text {
    height: 60px;
    width: 100%;
  }
  .index .cards .type1 .inCard .text .quality {
    width: 100%;
    padding: 8px 0;
    display: flex;
    align-items: center;
    font-family: HelveticaNeueRoman;
    color: #898989;
  }
  .index .cards .type1 .inCard .text .quality img {
    margin-right: 4px;
    margin-bottom: 4px;
    width: 12px;
  }
  .index .cards .type1 .inCard .text .quality .date {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0;
    font-size: 11px;
    width: 33.33333%;
  }
  .index .cards .type1 .inCard .text .quality .time {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    width: 33.33333%;
  }
  .index .cards .type1 .inCard .text .quality .view {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    width: 33.33333%;
  }
  .index .cards .type1 .inCard .text .quality .view img {
    width: 15px;
  }
  .index .cards .type1 .inCard .text a {
    display: flex;
    margin-left: 5.5%;
    font-family: HelveticaNeueBold;
    font-size: 16px;
  }
  .index .cards .type2 {
    margin: 15px 0;
  }
  .index .cards .type2 .inCard {
    height: 280px;
    width: 100%;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .index .cards .type2 .inCard .image {
    height: calc(100% - 120px);
    width: 100%;
    position: relative;
  }
  .index .cards .type2 .inCard .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  .index .cards .type2 .inCard .image a {
    position: absolute;
    left: 15px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: fit-content;
    padding: 0 12px;
    font-family: HelveticaNeueLight;
    color: white;
    background: linear-gradient(118deg, #32556b 0%, #0067a8 100%, white 100%);
    border-radius: 23px;
    font-size: 12px;
  }
  .index .cards .type2 .inCard .text {
    height: 120px;
    width: 100%;
  }
  .index .cards .type2 .inCard .text .quality {
    width: 100%;
    padding: 8px 0;
    display: flex;
    align-items: center;
    font-family: HelveticaNeueRoman;
    color: #898989;
  }
  .index .cards .type2 .inCard .text .quality img {
    margin-right: 4px;
    margin-bottom: 4px;
    width: 12px;
  }
  .index .cards .type2 .inCard .text .quality .date {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0;
    font-size: 11px;
    width: 33.33333%;
  }
  .index .cards .type2 .inCard .text .quality .time {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    width: 33.33333%;
  }
  .index .cards .type2 .inCard .text .quality .view {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    width: 33.33333%;
  }
  .index .cards .type2 .inCard .text .quality .view img {
    width: 15px;
  }
  .index .cards .type2 .inCard .text a {
    display: flex;
    margin-left: 3%;
    font-family: HelveticaNeueBold;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
  }
  .index .cards .type2 .inCard .text p {
    display: flex;
    margin-left: 3%;
    font-size: 12px;
    font-family: HelveticaNeueRoman;
    color: #505050;
    letter-spacing: 0;
    line-height: 15px;
  }
  .index .inWeek_line {
    padding: 0 10px;
  }
  .index .inWeek_line .section_title {
    font-size: 12px;
    color: #4B4B4B;
    font-family: HelveticaNeueRoman;
    position: relative;
  }
  .index .inWeek_line .section_title:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    width: calc(100% - 105.25px);
    height: 1px;
    display: flex;
    background: linear-gradient(180deg, #0067a8 0%, #32556b 100%);
  }
  .index .inWeek_line .item {
    padding: 15px 0;
    border-bottom: 1px solid rgba(112, 112, 112, 0.2);
  }
  .index .inWeek_line .item .name {
    font-family: HelveticaNeueMedium;
    font-size: 15px;
  }
  .index .inWeek_line .item .quality {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    font-family: HelveticaNeueRoman;
    color: #898989;
  }
  .index .inWeek_line .item .quality img {
    margin-right: 4px;
    margin-bottom: 4px;
    width: 12px;
  }
  .index .inWeek_line .item .quality .date {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0;
    font-size: 12px;
  }
  .index .inWeek_line .item .quality .time {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin: 0 25px;
  }
  .index .inWeek_line .item .quality .view {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  .index .inWeek_line .item .quality .view img {
    width: 15px;
  }
  .index .inWeek_line .item .hashtag {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: fit-content;
    padding: 0 12px;
    font-family: HelveticaNeueLight;
    color: white;
    background: linear-gradient(118deg, #32556b 0%, #0067a8 100%, white 100%);
    border-radius: 23px;
    font-size: 11px;
  }
  .index .popular_line {
    padding: 0 10px;
  }
  .index .popular_line .section_title {
    font-size: 12px;
    color: #4B4B4B;
    font-family: HelveticaNeueRoman;
    position: relative;
  }
  .index .popular_line .section_title:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    width: calc(100% - 105.25px);
    height: 1px;
    display: flex;
    background: linear-gradient(180deg, #0067a8 0%, #32556b 100%);
  }
  .index .popular_line .item {
    padding: 15px 0;
    border-bottom: 1px solid rgba(112, 112, 112, 0.2);
  }
  .index .popular_line .item .name {
    font-family: HelveticaNeueMedium;
    font-size: 15px;
  }
  .index .popular_line .item .quality {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    font-family: HelveticaNeueRoman;
    color: #898989;
  }
  .index .popular_line .item .quality img {
    margin-right: 4px;
    margin-bottom: 4px;
    width: 12px;
  }
  .index .popular_line .item .quality .date {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0;
    font-size: 12px;
  }
  .index .popular_line .item .quality .time {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin: 0 25px;
  }
  .index .popular_line .item .quality .view {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  .index .popular_line .item .quality .view img {
    width: 15px;
  }
  .index .popular_line .item .hashtag {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: fit-content;
    padding: 0 12px;
    font-family: HelveticaNeueLight;
    color: white;
    background: linear-gradient(118deg, #32556b 0%, #0067a8 100%, white 100%);
    border-radius: 23px;
    font-size: 11px;
  }
  .index .news_line {
    padding: 0 10px;
  }
  .index .news_line .item {
    padding: 15px 0;
    border-top: 1px solid rgba(112, 112, 112, 0.2);
  }
  .index .news_line .item .name {
    font-family: HelveticaNeueMedium;
    font-size: 15px;
  }
  .index .news_line .item .quality {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    font-family: HelveticaNeueRoman;
    color: #898989;
  }
  .index .news_line .item .quality img {
    margin-right: 4px;
    margin-bottom: 4px;
    width: 12px;
  }
  .index .news_line .item .quality .date {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0;
    font-size: 12px;
  }
  .index .news_line .item .quality .time {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin: 0 25px;
  }
  .index .news_line .item .quality .view {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  .index .news_line .item .quality .view img {
    width: 15px;
  }
  .index .news_line .item .hashtag {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: fit-content;
    padding: 0 12px;
    font-family: HelveticaNeueLight;
    color: white;
    background: linear-gradient(118deg, #32556b 0%, #0067a8 100%, white 100%);
    border-radius: 23px;
    font-size: 11px;
  }
  .index .popular_cards .flickity-viewport:hover {
    cursor: default;
  }
  .index .popular_cards .section_title {
    font-size: 12px;
    color: #4B4B4B;
    font-family: HelveticaNeueRoman;
    position: relative;
    padding: 0 10px;
    margin-bottom: 10px;
  }
  .index .popular_cards .section_title:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    width: calc(100% - 120px);
    height: 1px;
    display: flex;
    background: linear-gradient(180deg, #0067a8 0%, #32556b 100%);
  }
  .index .popular_cards .big {
    margin-bottom: 30px;
    position: relative;
  }
  .index .popular_cards .big:after {
    content: "";
    position: absolute;
    bottom: -18px;
    left: 15px;
    width: calc(100% - 30px);
    height: 4px;
    border-radius: 5px;
    background: #0067A8;
    z-index: 1;
  }
  .index .popular_cards .big .flickity-page-dots {
    display: flex;
    bottom: -18px;
    text-align: left;
    z-index: 3;
    width: calc(100vw - 30px);
    left: 50%;
    transform: translateX(-50%);
  }
  .index .popular_cards .big .flickity-page-dots .dot {
    height: 4px;
    border-radius: 0;
    width: 15%;
    opacity: 1;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  .index .popular_cards .big .flickity-page-dots .dot.is-selected {
    background: white;
  }
  .index .popular_cards .big .flickity-button {
    background: transparent;
    opacity: 1 !important;
    width: 30px;
    height: 30px;
  }
  .index .popular_cards .big .flickity-button svg {
    fill: #0067A8;
  }
  .index .popular_cards .big .flickity-button.previous {
    left: -5px;
  }
  .index .popular_cards .big .flickity-button.next {
    right: -5px;
  }
  .index .popular_cards .big .item {
    padding: 0 15px;
  }
  .index .popular_cards .big .item .inCard {
    width: calc(100vw - 30px);
    height: 220px;
    position: relative;
  }
  .index .popular_cards .big .item .inCard .back {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
    display: flex;
  }
  .index .popular_cards .big .item .inCard .back img {
    filter: brightness(50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    border-radius: 15px;
  }
  .index .popular_cards .big .item .inCard .front {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5px 15px;
    position: relative;
  }
  .index .popular_cards .big .item .inCard .front .line {
    display: flex;
    align-items: center;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
  }
  .index .popular_cards .big .item .inCard .front .line .hashtag {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: fit-content;
    padding: 0 12px;
    font-family: HelveticaNeueLight;
    color: white;
    background: linear-gradient(118deg, #32556b 0%, #0067a8 100%, white 100%);
    border-radius: 23px;
    font-size: 11px;
  }
  .index .popular_cards .big .item .inCard .front .line .time {
    margin-left: auto;
    color: white;
    display: flex;
    align-items: center;
    font-size: 10px;
    background: rgba(0, 0, 0, 0.4);
    height: 20px;
    padding: 0 10px;
    border-radius: 20px;
  }
  .index .popular_cards .big .item .inCard .front .line .time span {
    display: flex;
    margin: 0 5px;
    height: 40%;
    width: 1px;
    background: white;
  }
  .index .popular_cards .big .item .inCard .front .quality {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    font-family: HelveticaNeueRoman;
    color: #898989;
  }
  .index .popular_cards .big .item .inCard .front .quality img {
    margin-right: 4px;
    margin-bottom: 4px;
    width: 12px;
  }
  .index .popular_cards .big .item .inCard .front .quality .view {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  .index .popular_cards .big .item .inCard .front .quality .view img {
    width: 15px;
  }
  .index .popular_cards .big .item .inCard .front .quality .comments {
    display: flex;
    align-items: center;
    font-size: 13px;
    margin: 0 20px;
  }
  .index .popular_cards .big .item .inCard .front .quality .comments img {
    margin-right: 5px;
  }
  .index .popular_cards .big .item .inCard .front .quality .likes {
    display: flex;
    align-items: center;
    font-size: 13px;
  }
  .index .popular_cards .big .item .inCard .front .quality .likes img {
    margin-right: 5px;
  }
  .index .popular_cards .big .item .inCard .front > a {
    font-family: HelveticaNeueBold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0;
    color: #FFFFFF;
    margin-bottom: 5px;
  }
  .index .popular_cards .small {
    margin-bottom: 15px;
  }
  .index .popular_cards .small .flickity-prev-next-button {
    width: 25px;
    height: 25px;
    background: white;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.7);
  }
  .index .popular_cards .small .flickity-prev-next-button svg {
    width: 40%;
    height: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .index .popular_cards .small .flickity-prev-next-button.previous {
    left: 0px;
  }
  .index .popular_cards .small .flickity-prev-next-button.next {
    right: 0px;
  }
  .index .popular_cards .small .flickity-slider > div {
    display: flex;
    padding-left: 15px;
  }
  .index .popular_cards .small .item {
    margin-right: 10px;
  }
  .index .popular_cards .small .item .inCard {
    position: relative;
    width: calc(50vw - 20px);
    height: 100px;
  }
  .index .popular_cards .small .item .inCard .back {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
    display: flex;
  }
  .index .popular_cards .small .item .inCard .back img {
    filter: brightness(50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    border-radius: 15px;
  }
  .index .popular_cards .small .item .inCard .front {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 10px;
  }
  .index .popular_cards .small .item .inCard .front > a {
    width: 100%;
    display: flex;
    color: white;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 7px;
  }
  .index .popular_cards .small .item .inCard .front .quality {
    width: 100%;
    display: flex;
    align-items: center;
    font-family: HelveticaNeueRoman;
    margin-bottom: 5px;
  }
  .index .popular_cards .small .item .inCard .front .quality img {
    width: 13px;
  }
  .index .popular_cards .small .item .inCard .front .quality .hashtag {
    border: 0.6999999881px solid #CACACA;
    border-radius: 23px;
    letter-spacing: 0;
    color: #DDDDDD;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    padding: 0 6px;
    margin-right: 5px;
  }
  .index .popular_cards .small .item .inCard .front .quality .comments {
    color: #DDDDDD;
    display: flex;
    align-items: center;
    margin-right: 5px;
    font-size: 10px;
  }
  .index .popular_cards .small .item .inCard .front .quality .comments img {
    margin-right: 3px;
  }
  .index .popular_cards .small .item .inCard .front .quality .likes {
    color: #DDDDDD;
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 11px;
  }
  .index .popular_cards .small .item .inCard .front .quality .likes img {
    margin-right: 3px;
  }

  .politic {
    position: relative;
  }
  .politic .overlay {
    position: absolute;
    z-index: -2;
    background: rgba(249, 249, 249, 0.7);
    width: 100%;
    height: 100%;
  }
  .politic .page_title {
    font-size: 20px;
    color: #4B4B4B;
    font-family: HelveticaNeueRoman;
    position: relative;
    padding: 15px 0;
    padding-left: 10px;
  }
  .politic .page_title:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    width: calc(100% - 105.25px);
    height: 1px;
    display: flex;
    background: linear-gradient(180deg, #0067a8 0%, #32556b 100%);
  }
  .politic .cards.p-10 {
    padding: 0 10px;
  }
  .politic .cards .big_cards {
    margin-bottom: 30px;
  }
  .politic .cards .big_cards .flickity-page-dots .dot {
    background: white;
    opacity: 1;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    margin: 0 5px;
  }
  .politic .cards .big_cards .flickity-page-dots .is-selected {
    background: #32556B;
  }
  .politic .cards .big_cards .item {
    padding-left: 10px;
  }
  .politic .cards .big_cards .item .inCard {
    width: calc(100vw + 50px);
    height: 220px;
    position: relative;
  }
  .politic .cards .big_cards .item .inCard .back {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
  }
  .politic .cards .big_cards .item .inCard .back img {
    filter: brightness(70%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    border-radius: 15px;
  }
  .politic .cards .big_cards .item .inCard .front {
    width: calc(100% - 50px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5px 15px;
  }
  .politic .cards .big_cards .item .inCard .front > a {
    font-family: HelveticaNeueBold;
    font-size: 22px;
    letter-spacing: 0.46px;
    color: #FFFFFF;
    margin-bottom: 10px;
  }
  .politic .cards .big_cards .item .inCard .front .foot {
    display: flex;
    align-items: center;
  }
  .politic .cards .big_cards .item .inCard .front .foot .quality {
    display: flex;
    align-items: center;
    font-family: HelveticaNeueRoman;
  }
  .politic .cards .big_cards .item .inCard .front .foot .quality img {
    width: 13px;
  }
  .politic .cards .big_cards .item .inCard .front .foot .quality .hashtag {
    border: 0.6999999881px solid #CACACA;
    border-radius: 23px;
    letter-spacing: 0;
    color: #DDDDDD;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    padding: 0 10px;
    margin-right: 5px;
  }
  .politic .cards .big_cards .item .inCard .front .foot .quality .comments {
    color: #DDDDDD;
    display: flex;
    align-items: center;
    margin-right: 5px;
    font-size: 10px;
  }
  .politic .cards .big_cards .item .inCard .front .foot .quality .comments img {
    margin-right: 3px;
  }
  .politic .cards .big_cards .item .inCard .front .foot .quality .likes {
    color: #DDDDDD;
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 11px;
  }
  .politic .cards .big_cards .item .inCard .front .foot .quality .likes img {
    margin-right: 3px;
  }
  .politic .cards .big_cards .item .inCard .front .foot .date {
    margin-left: auto;
    display: flex;
    align-items: center;
    font-size: 11px;
    color: white;
    font-family: HelveticaNeueRoman;
  }
  .politic .cards .big_cards .item .inCard .front .foot .date span {
    margin: 0 5px;
    width: 1px;
    height: 10px;
    background: white;
    display: flex;
    align-items: center;
  }
  .politic .cards .type1 {
    margin: 15px 0;
  }
  .politic .cards .type1 .inCard {
    height: 220px;
    width: 100%;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .politic .cards .type1 .inCard .image {
    height: calc(100% - 60px);
    width: 100%;
    position: relative;
  }
  .politic .cards .type1 .inCard .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  .politic .cards .type1 .inCard .image a {
    position: absolute;
    left: 15px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: fit-content;
    padding: 0 12px;
    font-family: HelveticaNeueLight;
    color: white;
    background: linear-gradient(118deg, #32556b 0%, #0067a8 100%, white 100%);
    border-radius: 23px;
    font-size: 12px;
  }
  .politic .cards .type1 .inCard .text {
    height: 60px;
    width: 100%;
  }
  .politic .cards .type1 .inCard .text .quality {
    width: 100%;
    padding: 8px 0;
    display: flex;
    align-items: center;
    font-family: HelveticaNeueRoman;
    color: #898989;
  }
  .politic .cards .type1 .inCard .text .quality img {
    margin-right: 4px;
    margin-bottom: 4px;
    width: 12px;
  }
  .politic .cards .type1 .inCard .text .quality .date {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0;
    font-size: 11px;
    width: 33.33333%;
  }
  .politic .cards .type1 .inCard .text .quality .time {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    width: 33.33333%;
  }
  .politic .cards .type1 .inCard .text .quality .view {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    width: 33.33333%;
  }
  .politic .cards .type1 .inCard .text .quality .view img {
    width: 15px;
  }
  .politic .cards .type1 .inCard .text a {
    display: flex;
    margin-left: 5.5%;
    font-family: HelveticaNeueBold;
    font-size: 16px;
  }
  .politic .cards .type2 {
    margin: 15px 0;
  }
  .politic .cards .type2 .inCard {
    height: 280px;
    width: 100%;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .politic .cards .type2 .inCard .image {
    height: calc(100% - 120px);
    width: 100%;
    position: relative;
  }
  .politic .cards .type2 .inCard .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  .politic .cards .type2 .inCard .image a {
    position: absolute;
    left: 15px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: fit-content;
    padding: 0 12px;
    font-family: HelveticaNeueLight;
    color: white;
    background: linear-gradient(118deg, #32556b 0%, #0067a8 100%, white 100%);
    border-radius: 23px;
    font-size: 12px;
  }
  .politic .cards .type2 .inCard .text {
    height: 120px;
    width: 100%;
  }
  .politic .cards .type2 .inCard .text .quality {
    width: 100%;
    padding: 8px 0;
    display: flex;
    align-items: center;
    font-family: HelveticaNeueRoman;
    color: #898989;
  }
  .politic .cards .type2 .inCard .text .quality img {
    margin-right: 4px;
    margin-bottom: 4px;
    width: 12px;
  }
  .politic .cards .type2 .inCard .text .quality .date {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0;
    font-size: 11px;
    width: 33.33333%;
  }
  .politic .cards .type2 .inCard .text .quality .time {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    width: 33.33333%;
  }
  .politic .cards .type2 .inCard .text .quality .view {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    width: 33.33333%;
  }
  .politic .cards .type2 .inCard .text .quality .view img {
    width: 15px;
  }
  .politic .cards .type2 .inCard .text a {
    display: flex;
    margin-left: 3%;
    font-family: HelveticaNeueBold;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
  }
  .politic .cards .type2 .inCard .text p {
    display: flex;
    margin-left: 3%;
    font-size: 12px;
    font-family: HelveticaNeueRoman;
    color: #505050;
    letter-spacing: 0;
    line-height: 15px;
  }
  .politic .inWeek_line {
    padding: 0 10px;
  }
  .politic .inWeek_line .section_title {
    font-size: 12px;
    color: #4B4B4B;
    font-family: HelveticaNeueRoman;
    position: relative;
  }
  .politic .inWeek_line .section_title:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    width: calc(100% - 105.25px);
    height: 1px;
    display: flex;
    background: linear-gradient(180deg, #0067a8 0%, #32556b 100%);
  }
  .politic .inWeek_line .item {
    padding: 15px 0;
    border-bottom: 1px solid rgba(112, 112, 112, 0.2);
  }
  .politic .inWeek_line .item .name {
    font-family: HelveticaNeueMedium;
    font-size: 15px;
  }
  .politic .inWeek_line .item .quality {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    font-family: HelveticaNeueRoman;
    color: #898989;
  }
  .politic .inWeek_line .item .quality img {
    margin-right: 4px;
    margin-bottom: 4px;
    width: 12px;
  }
  .politic .inWeek_line .item .quality .date {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0;
    font-size: 12px;
  }
  .politic .inWeek_line .item .quality .time {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin: 0 25px;
  }
  .politic .inWeek_line .item .quality .view {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  .politic .inWeek_line .item .quality .view img {
    width: 15px;
  }
  .politic .inWeek_line .item .hashtag {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: fit-content;
    padding: 0 12px;
    font-family: HelveticaNeueLight;
    color: white;
    background: linear-gradient(118deg, #32556b 0%, #0067a8 100%, white 100%);
    border-radius: 23px;
    font-size: 11px;
  }
  .politic .popular_line {
    padding: 0 10px;
  }
  .politic .popular_line .section_title {
    font-size: 12px;
    color: #4B4B4B;
    font-family: HelveticaNeueRoman;
    position: relative;
  }
  .politic .popular_line .section_title:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    width: calc(100% - 105.25px);
    height: 1px;
    display: flex;
    background: linear-gradient(180deg, #0067a8 0%, #32556b 100%);
  }
  .politic .popular_line .item {
    padding: 15px 0;
    border-bottom: 1px solid rgba(112, 112, 112, 0.2);
  }
  .politic .popular_line .item .name {
    font-family: HelveticaNeueMedium;
    font-size: 15px;
  }
  .politic .popular_line .item .quality {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    font-family: HelveticaNeueRoman;
    color: #898989;
  }
  .politic .popular_line .item .quality img {
    margin-right: 4px;
    margin-bottom: 4px;
    width: 12px;
  }
  .politic .popular_line .item .quality .date {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0;
    font-size: 12px;
  }
  .politic .popular_line .item .quality .time {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin: 0 25px;
  }
  .politic .popular_line .item .quality .view {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  .politic .popular_line .item .quality .view img {
    width: 15px;
  }
  .politic .popular_line .item .hashtag {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: fit-content;
    padding: 0 12px;
    font-family: HelveticaNeueLight;
    color: white;
    background: linear-gradient(118deg, #32556b 0%, #0067a8 100%, white 100%);
    border-radius: 23px;
    font-size: 11px;
  }
  .politic .news_line {
    padding: 0 10px;
  }
  .politic .news_line .item {
    padding: 15px 0;
    border-top: 1px solid rgba(112, 112, 112, 0.2);
  }
  .politic .news_line .item .name {
    font-family: HelveticaNeueMedium;
    font-size: 15px;
  }
  .politic .news_line .item .quality {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    font-family: HelveticaNeueRoman;
    color: #898989;
  }
  .politic .news_line .item .quality img {
    margin-right: 4px;
    margin-bottom: 4px;
    width: 12px;
  }
  .politic .news_line .item .quality .date {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0;
    font-size: 12px;
  }
  .politic .news_line .item .quality .time {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin: 0 25px;
  }
  .politic .news_line .item .quality .view {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  .politic .news_line .item .quality .view img {
    width: 15px;
  }
  .politic .news_line .item .hashtag {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: fit-content;
    padding: 0 12px;
    font-family: HelveticaNeueLight;
    color: white;
    background: linear-gradient(118deg, #32556b 0%, #0067a8 100%, white 100%);
    border-radius: 23px;
    font-size: 11px;
  }
  .politic .popular_cards .flickity-viewport:hover {
    cursor: default;
  }
  .politic .popular_cards .section_title {
    font-size: 12px;
    color: #4B4B4B;
    font-family: HelveticaNeueRoman;
    position: relative;
    padding: 0 10px;
    margin-bottom: 10px;
  }
  .politic .popular_cards .section_title:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    width: calc(100% - 120px);
    height: 1px;
    display: flex;
    background: linear-gradient(180deg, #0067a8 0%, #32556b 100%);
  }
  .politic .popular_cards .big {
    margin-bottom: 30px;
    position: relative;
  }
  .politic .popular_cards .big:after {
    content: "";
    position: absolute;
    bottom: -18px;
    left: 15px;
    width: calc(100% - 30px);
    height: 4px;
    border-radius: 5px;
    background: #0067A8;
    z-index: 1;
  }
  .politic .popular_cards .big .flickity-page-dots {
    bottom: -22px;
    text-align: left;
    z-index: 3;
    width: calc(100vw - 30px);
    left: 50%;
    transform: translateX(-50%);
  }
  .politic .popular_cards .big .flickity-page-dots .dot {
    height: 4px;
    border-radius: 0;
    width: 15%;
    opacity: 1;
    background: transparent;
    box-shadow: 0 2px 6px black;
  }
  .politic .popular_cards .big .flickity-page-dots .dot.is-selected {
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }
  .politic .popular_cards .big .flickity-button {
    background: transparent;
    opacity: 1 !important;
    width: 30px;
    height: 30px;
  }
  .politic .popular_cards .big .flickity-button svg {
    fill: #0067A8;
  }
  .politic .popular_cards .big .flickity-button.previous {
    left: -5px;
  }
  .politic .popular_cards .big .flickity-button.next {
    right: -5px;
  }
  .politic .popular_cards .big .item {
    padding: 0 15px;
  }
  .politic .popular_cards .big .item .inCard {
    width: calc(100vw - 30px);
    height: 220px;
    position: relative;
  }
  .politic .popular_cards .big .item .inCard .back {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
    display: flex;
  }
  .politic .popular_cards .big .item .inCard .back img {
    filter: brightness(50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    border-radius: 15px;
  }
  .politic .popular_cards .big .item .inCard .front {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5px 15px;
    position: relative;
  }
  .politic .popular_cards .big .item .inCard .front .line {
    display: flex;
    align-items: center;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
  }
  .politic .popular_cards .big .item .inCard .front .line .hashtag {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: fit-content;
    padding: 0 12px;
    font-family: HelveticaNeueLight;
    color: white;
    background: linear-gradient(118deg, #32556b 0%, #0067a8 100%, white 100%);
    border-radius: 23px;
    font-size: 11px;
  }
  .politic .popular_cards .big .item .inCard .front .line .time {
    margin-left: auto;
    color: white;
    display: flex;
    align-items: center;
    font-size: 10px;
    background: rgba(0, 0, 0, 0.4);
    height: 20px;
    padding: 0 10px;
    border-radius: 20px;
  }
  .politic .popular_cards .big .item .inCard .front .line .time span {
    display: flex;
    margin: 0 5px;
    height: 40%;
    width: 1px;
    background: white;
  }
  .politic .popular_cards .big .item .inCard .front .quality {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    font-family: HelveticaNeueRoman;
    color: #898989;
  }
  .politic .popular_cards .big .item .inCard .front .quality img {
    margin-right: 4px;
    margin-bottom: 4px;
    width: 12px;
  }
  .politic .popular_cards .big .item .inCard .front .quality .view {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  .politic .popular_cards .big .item .inCard .front .quality .view img {
    width: 15px;
  }
  .politic .popular_cards .big .item .inCard .front .quality .comments {
    display: flex;
    align-items: center;
    font-size: 13px;
    margin: 0 20px;
  }
  .politic .popular_cards .big .item .inCard .front .quality .comments img {
    margin-right: 5px;
  }
  .politic .popular_cards .big .item .inCard .front .quality .likes {
    display: flex;
    align-items: center;
    font-size: 13px;
  }
  .politic .popular_cards .big .item .inCard .front .quality .likes img {
    margin-right: 5px;
  }
  .politic .popular_cards .big .item .inCard .front > a {
    font-family: HelveticaNeueBold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0;
    color: #FFFFFF;
    margin-bottom: 5px;
  }
  .politic .popular_cards .small {
    margin-bottom: 15px;
  }
  .politic .popular_cards .small .flickity-prev-next-button {
    width: 25px;
    height: 25px;
    background: white;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.7);
  }
  .politic .popular_cards .small .flickity-prev-next-button svg {
    width: 40%;
    height: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .politic .popular_cards .small .flickity-prev-next-button.previous {
    left: 0px;
  }
  .politic .popular_cards .small .flickity-prev-next-button.next {
    right: 0px;
  }
  .politic .popular_cards .small .flickity-slider > div {
    display: flex;
    padding-left: 15px;
  }
  .politic .popular_cards .small .item {
    margin-right: 10px;
  }
  .politic .popular_cards .small .item .inCard {
    position: relative;
    width: calc(50vw - 20px);
    height: 100px;
  }
  .politic .popular_cards .small .item .inCard .back {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
    display: flex;
  }
  .politic .popular_cards .small .item .inCard .back img {
    filter: brightness(50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    border-radius: 15px;
  }
  .politic .popular_cards .small .item .inCard .front {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 10px;
  }
  .politic .popular_cards .small .item .inCard .front > a {
    width: 100%;
    display: flex;
    color: white;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 7px;
  }
  .politic .popular_cards .small .item .inCard .front .quality {
    width: 100%;
    display: flex;
    align-items: center;
    font-family: HelveticaNeueRoman;
    margin-bottom: 5px;
  }
  .politic .popular_cards .small .item .inCard .front .quality img {
    width: 13px;
  }
  .politic .popular_cards .small .item .inCard .front .quality .hashtag {
    border: 0.6999999881px solid #CACACA;
    border-radius: 23px;
    letter-spacing: 0;
    color: #DDDDDD;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    padding: 0 6px;
    margin-right: 5px;
  }
  .politic .popular_cards .small .item .inCard .front .quality .comments {
    color: #DDDDDD;
    display: flex;
    align-items: center;
    margin-right: 5px;
    font-size: 10px;
  }
  .politic .popular_cards .small .item .inCard .front .quality .comments img {
    margin-right: 3px;
  }
  .politic .popular_cards .small .item .inCard .front .quality .likes {
    color: #DDDDDD;
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 11px;
  }
  .politic .popular_cards .small .item .inCard .front .quality .likes img {
    margin-right: 3px;
  }

  .post {
    padding-top: 220px;
    position: relative;
    overflow: hidden;
  }
  .post .overlay {
    position: absolute;
    z-index: -10;
    background: rgba(249, 249, 249, 0.7);
    width: 100%;
    height: 100%;
  }
  .post .img_title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }
  .post .img_title .inCard {
    width: 100%;
    height: 220px;
    position: relative;
    border-bottom-left-radius: 35px;
    overflow: hidden;
  }
  .post .img_title .inCard .back {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
  }
  .post .img_title .inCard .back img {
    filter: brightness(70%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
  }
  .post .img_title .inCard .front {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5px 25px;
  }
  .post .img_title .inCard .front .title {
    font-family: HelveticaNeueBold;
    font-size: 20px;
    letter-spacing: 0.46px;
    color: #FFFFFF;
    margin-bottom: 10px;
  }
  .post .img_title .inCard .front .category {
    color: #DDDDDD;
    font-size: 14px;
    margin-bottom: 8px;
  }
  .post .img_title .inCard .front .foot {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    width: 100%;
  }
  .post .img_title .inCard .front .foot .quality {
    display: flex;
    align-items: center;
    font-family: HelveticaNeueRoman;
  }
  .post .img_title .inCard .front .foot .quality img {
    width: 13px;
  }
  .post .img_title .inCard .front .foot .quality .hashtag {
    border: 0.6999999881px solid #CACACA;
    border-radius: 23px;
    letter-spacing: 0;
    color: #DDDDDD;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    padding: 0 10px;
    margin-right: 5px;
  }
  .post .img_title .inCard .front .foot .quality .comments {
    color: #DDDDDD;
    display: flex;
    align-items: center;
    margin-right: 5px;
    font-size: 10px;
  }
  .post .img_title .inCard .front .foot .quality .comments img {
    margin-right: 3px;
  }
  .post .img_title .inCard .front .foot .quality .likes {
    color: #DDDDDD;
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 11px;
  }
  .post .img_title .inCard .front .foot .quality .likes img {
    margin-right: 3px;
  }
  .post .img_title .inCard .front .foot .date {
    margin-left: auto;
    display: flex;
    align-items: center;
    font-size: 10px;
    color: white;
    font-family: HelveticaNeueRoman;
  }
  .post .img_title .inCard .front .foot .date span {
    margin: 0 5px;
    width: 1px;
    height: 10px;
    background: white;
    display: flex;
    align-items: center;
  }
  .post .page_title {
    font-size: 18px;
    color: #000000;
    font-family: HelveticaNeueBold;
    position: relative;
    margin: 15px 0;
    padding-left: 10px;
  }
  .post .page_title:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    width: calc(100% - 80px);
    height: 1px;
    display: flex;
    background: linear-gradient(180deg, #0067a8 0%, #32556b 100%);
  }
  .post .content {
    padding: 0 10px;
  }
  .post .content .name {
    font-size: 26px;
    font-family: HelveticaNeueBold;
    margin-bottom: 10px;
  }
  .post .content p {
    font-size: 14px;
    color: #595959;
    line-height: 18px;
    margin-bottom: 15px;
  }
  .post .content .image {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
  }
  .post .content .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .post .smilek {
    background: white;
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px;
    margin: 0 10px;
    margin-bottom: 15px;
    border-radius: 25px;
  }
  .post .smilek .item {
    text-align: center;
  }
  .post .smilek .item img {
    display: block;
    width: 20px;
    height: 20px;
    margin-bottom: 8px;
    overflow: hidden;
  }
  .post .smilek .item img:hover {
    cursor: pointer;
  }
  .post .smilek .item span {
    font-size: 14px;
    color: #727272;
  }
  .post .comments {
    padding: 0 10px;
  }
  .post .comments form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    position: relative;
  }
  .post .comments form .img {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    left: 10px;
    z-index: 5;
  }
  .post .comments form .img img {
    width: 100%;
    height: 100%;
  }
  .post .comments form .text {
    width: 100%;
    position: relative;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.1);
    border-radius: 23px;
    overflow: hidden;
  }
  .post .comments form .text textarea {
    width: 100%;
    background: #FFFFFF;
    resize: none;
    display: block;
    width: 100%;
    height: 250px;
    padding: 20px 15px 0 50px;
    font-size: 13px;
    color: black;
    font-family: HelveticaNeueRoman;
  }
  .post .comments form .text textarea::placeholder {
    color: #9C9C9C;
  }
  .post .comments form .text textarea:hover {
    cursor: text;
  }
  .post .comments form .send {
    position: absolute;
    display: flex;
    bottom: 0;
    right: 5px;
    left: 5px;
    padding-right: 15px;
    padding-bottom: 15px;
    background: white;
    border-bottom-right-radius: 23px;
    border-bottom-left-radius: 23px;
  }
  .post .comments form .send .submit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    background: linear-gradient(97deg, #32556B 0%, #0067A8 100%);
    border-radius: 35px;
    color: white;
    padding: 8px 20px 6px 20px;
    letter-spacing: 0.82px;
    font-family: HelveticaNeueRoman;
    font-size: 12px;
  }
  .post .comments .users {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .post .comments .users .item {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    position: relative;
  }
  .post .comments .users .item .img {
    position: absolute;
    width: 30px;
    height: 30px;
    left: -10px;
    top: -25px;
    z-index: 5;
  }
  .post .comments .users .item .img img {
    width: 100%;
    height: 100%;
  }
  .post .comments .users .item .txt {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
    margin-bottom: 40px;
    width: 100%;
  }
  .post .comments .users .item .txt:last-child {
    margin-bottom: 30px;
  }
  .post .comments .users .item .txt .author_date {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-bottom: 5px;
    padding-left: 25px;
  }
  .post .comments .users .item .txt .author_date .author {
    font-weight: 600;
    margin-right: 5px;
  }
  .post .comments .users .item .txt .author_date .date {
    color: #6C6C6C;
    padding-left: 7px;
    position: relative;
  }
  .post .comments .users .item .txt .author_date .date:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
    height: 3px;
    background: #707070;
    border-radius: 50%;
  }
  .post .comments .users .item .txt .sms {
    background: white;
    width: fit-content;
    position: relative;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 13px;
    padding: 9px 40px 6px 25px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 12px;
  }
  .post .comments .users .item .txt .sms span {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .post .comments .users .item .txt .sms span:hover {
    cursor: pointer;
  }
  .post .comments .users .item .txt .sms span img {
    width: 15px;
    filter: invert(1);
  }
  .post .comments .users .item .txt .sms span.liked img {
    filter: unset;
  }
  .post .comments .users .item .txt .foot {
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 11px;
    color: #6C6C6C;
  }
  .post .comments .users .item .txt .foot .result {
    position: relative;
    margin-right: 6px;
    padding-right: 7px;
  }
  .post .comments .users .item .txt .foot .result:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
    height: 3px;
    background: #707070;
    border-radius: 50%;
  }
  .post .comments .users .item .txt .foot a {
    display: block;
    color: #6C6C6C;
    font-size: 13px;
  }
  .post .comments .users .item:last-child {
    margin-bottom: 0;
  }
  .post .comments .more {
    width: fit-content;
    display: block;
    margin-bottom: 10px;
    margin-top: -15px;
    margin-left: auto;
    text-align: right;
    letter-spacing: 0;
    color: #707070;
    font-family: HelveticaNeueLight;
    font-size: 12px;
    position: relative;
  }
  .post .comments .more:before {
    content: "";
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 1px;
    background: #707070;
  }
  .post .news_line .item {
    padding: 15px 10px;
    border-top: 1px solid rgba(112, 112, 112, 0.2);
  }
  .post .news_line .item .name {
    font-family: HelveticaNeueMedium;
    font-size: 15px;
  }
  .post .news_line .item .quality {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    font-family: HelveticaNeueRoman;
    color: #898989;
  }
  .post .news_line .item .quality img {
    margin-right: 4px;
    margin-bottom: 4px;
    width: 12px;
  }
  .post .news_line .item .quality .date {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0;
    font-size: 12px;
  }
  .post .news_line .item .quality .time {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin: 0 25px;
  }
  .post .news_line .item .quality .view {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  .post .news_line .item .quality .view img {
    width: 15px;
  }
  .post .news_line .item .hashtag {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: fit-content;
    padding: 0 12px;
    font-family: HelveticaNeueLight;
    color: white;
    background: linear-gradient(118deg, #32556b 0%, #0067a8 100%, white 100%);
    border-radius: 23px;
    font-size: 11px;
  }
  .post .small_slider {
    margin-bottom: 15px;
  }
  .post .small_slider .flickity-viewport:hover {
    cursor: default;
  }
  .post .small_slider .flickity-prev-next-button {
    width: 25px;
    height: 25px;
    background: white;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.7);
  }
  .post .small_slider .flickity-prev-next-button svg {
    width: 40%;
    height: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .post .small_slider .flickity-prev-next-button.previous {
    left: 0px;
  }
  .post .small_slider .flickity-prev-next-button.next {
    right: 0px;
  }
  .post .small_slider .flickity-slider > div {
    display: flex;
    padding-left: 10px;
  }
  .post .small_slider .item {
    margin-right: 5px;
  }
  .post .small_slider .item:nth-child(even) {
    margin-right: 0;
    margin-left: 5px;
  }
  .post .small_slider .item .inCard {
    position: relative;
    width: calc(50vw - 15px);
    height: 100px;
  }
  .post .small_slider .item .inCard .back {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
    display: flex;
  }
  .post .small_slider .item .inCard .back img {
    filter: brightness(50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    border-radius: 15px;
  }
  .post .small_slider .item .inCard .front {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 10px;
  }
  .post .small_slider .item .inCard .front > a {
    width: 100%;
    display: flex;
    color: white;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 7px;
  }
  .post .small_slider .item .inCard .front .quality {
    width: 100%;
    display: flex;
    align-items: center;
    font-family: HelveticaNeueRoman;
    margin-bottom: 5px;
  }
  .post .small_slider .item .inCard .front .quality img {
    width: 13px;
  }
  .post .small_slider .item .inCard .front .quality .hashtag {
    border: 0.6999999881px solid #CACACA;
    border-radius: 23px;
    letter-spacing: 0;
    color: #DDDDDD;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    padding: 0 6px;
    margin-right: 5px;
  }
  .post .small_slider .item .inCard .front .quality .comments {
    color: #DDDDDD;
    display: flex;
    align-items: center;
    margin-right: 5px;
    font-size: 10px;
    padding: 0;
  }
  .post .small_slider .item .inCard .front .quality .comments img {
    margin-right: 3px;
  }
  .post .small_slider .item .inCard .front .quality .likes {
    color: #DDDDDD;
    display: flex;
    align-items: center;
    margin-right: 3px;
    font-size: 11px;
  }
  .post .small_slider .item .inCard .front .quality .likes img {
    margin-right: 3px;
  }

  .modal {
    visibility: hidden;
    opacity: 0;
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    align-items: flex-end;
    justify-content: center;
    transition: 0.5s;
  }
  .modal .bg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.7);
  }
  .modal input:focus {
    outline: none;
  }

  .modal_report .modal_container {
    position: relative;
    display: flex;
    transition: 1s;
    padding: 0 10px;
    height: 0;
  }
  .modal_report .modal_container .close {
    position: absolute;
    right: 5px;
    top: -30px;
    background: white;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal_report .modal_container .close img {
    width: 8px;
    filter: brightness(0);
  }
  .modal_report .modal_container .close:hover {
    cursor: pointer;
  }
  .modal_report .modal_container form {
    background: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 20px 15px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    font-family: HelveticaNeueLight;
  }
  .modal_report .modal_container form .line {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
  }
  .modal_report .modal_container form .line textarea {
    width: 100%;
    height: 22.5vh;
    resize: none;
    background: #EAEAEA;
    border-radius: 10px;
    padding: 10px 7px;
  }
  .modal_report .modal_container form .line textarea:hover {
    cursor: text;
  }
  .modal_report .modal_container form .line .mediafile {
    margin-left: auto;
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    color: #898989;
  }
  .modal_report .modal_container form .line .mediafile img {
    width: 15px;
    transform: rotate(25deg);
    filter: brightness(110%);
  }
  .modal_report .modal_container form .line #number {
    width: 100%;
    background: #EAEAEA;
    border: none;
    border-radius: 15px;
    height: 25px;
    padding: 0 7px;
  }
  .modal_report .modal_container form .line #name {
    width: 100%;
    background: #EAEAEA;
    border: none;
    border-radius: 15px;
    height: 25px;
    padding: 0 7px;
  }
  .modal_report .modal_container form .line .anonym {
    margin-left: auto;
    margin-top: 15px;
    display: flex;
    align-items: center;
  }
  .modal_report .modal_container form .line .anonym label {
    font-size: 12px;
    color: rgba(80, 80, 80, 0.4);
    margin-right: 4px;
    font-family: HelveticaNeueMedium;
  }
  .modal_report .modal_container form .line .anonym label:hover {
    cursor: pointer;
  }
  .modal_report .modal_container form button[type=submit] {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #32556B 0%, #0067A8 100%);
    height: 27px;
    border-radius: 15px;
    color: white;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .modal_report.active {
    visibility: visible;
    opacity: 1;
  }
  .modal_report.active .modal_container {
    height: 70%;
    transition: 1s;
  }

  .modal_sign {
    padding: 0 10px;
  }
  .modal_sign .modal_container {
    height: 0;
    background: #FBFBFB;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    transition: 3s;
  }
  .modal_sign .modal_container .close {
    position: absolute;
    right: -7px;
    top: -20px;
    background: white;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal_sign .modal_container .close img {
    width: 8px;
    filter: brightness(0);
  }
  .modal_sign .modal_container .close:hover {
    cursor: pointer;
  }
  .modal_sign .modal_container .tabs {
    display: flex;
  }
  .modal_sign .modal_container .tabs a {
    height: 35px;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border: 1px solid rgba(80, 80, 80, 0.1);
    color: #9A9A9A;
  }
  .modal_sign .modal_container .tabs a.active {
    color: #008DBE;
  }
  .modal_sign .modal_container .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }
  .modal_sign .modal_container .header a {
    text-align: center;
    margin-bottom: 10px;
  }
  .modal_sign .modal_container .header a img {
    width: 50%;
  }
  .modal_sign .modal_container .header > img {
    width: 18%;
  }
  .modal_sign .modal_container form.log {
    padding: 0 15px;
    overflow: hidden;
    position: absolute;
    z-index: -99;
  }
  .modal_sign .modal_container form.log .line {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
  }
  .modal_sign .modal_container form.log .line input {
    width: 100%;
    height: 35px;
    background: white;
    border: none;
    border-radius: 13px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    padding: 0 15px 0 40px;
    font-size: 14px;
  }
  .modal_sign .modal_container form.log .line input::placeholder {
    color: #898989;
  }
  .modal_sign .modal_container form.log .line.focus input::placeholder {
    color: #0067A8;
  }
  .modal_sign .modal_container form.log .line.focus img {
    filter: unset;
  }
  .modal_sign .modal_container form.log .line .login_img, .modal_sign .modal_container form.log .line .password_img {
    width: 15px;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    filter: contrast(0);
  }
  .modal_sign .modal_container form.log .line .hide {
    position: absolute;
    right: 15px;
    top: 55%;
    transform: translateY(-50%);
  }
  .modal_sign .modal_container form.log .line .hide a img {
    width: 25px;
  }
  .modal_sign .modal_container form.log .line .hide a.hiden_icon {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .modal_sign .modal_container form.log .line .remember {
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-left: 5px;
    color: #898989;
  }
  .modal_sign .modal_container form.log .line .remember .checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
  }
  .modal_sign .modal_container form.log .line .remember .checkbox + label {
    position: relative;
    padding: 0 0 0 25px;
    cursor: pointer;
  }
  .modal_sign .modal_container form.log .line .remember .checkbox + label:before {
    content: "";
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 12px;
    background: white;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);
    transition: 0.2s;
  }
  .modal_sign .modal_container form.log .line .remember .checkbox + label:after {
    display: none;
    content: "";
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    left: 1.5px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #32556B;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
  }
  .modal_sign .modal_container form.log .line .remember .checkbox:checked + label:after {
    display: block;
  }
  .modal_sign .modal_container form.log .line .forget {
    padding-right: 5px;
    display: flex;
    align-items: center;
    height: 30px;
    margin-left: auto;
    color: #0067A8;
    font-style: italic;
    font-size: 12px;
  }
  .modal_sign .modal_container form.log .line.with a {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #737373;
    background: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
  }
  .modal_sign .modal_container form.log .line.with a img {
    width: 15px;
    margin-right: 10px;
  }
  .modal_sign .modal_container form.log .line.with a span {
    display: flex;
    align-items: center;
    width: 65%;
    margin: 0 auto;
    white-space: nowrap;
    font-size: 14px;
  }
  .modal_sign .modal_container form.log .line button {
    margin: -10px auto 15px auto;
    width: 90%;
    height: 30px;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #32556B 0%, #0067A8 100%);
  }
  .modal_sign .modal_container form.log .register {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -30px;
    margin-right: -30px;
    padding: 15px 0;
    color: #898989;
    box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.1);
    font-family: HelveticaNeueMedium;
  }
  .modal_sign .modal_container form.reg {
    position: absolute;
    z-index: -99;
    padding: 0 15px;
    overflow: hidden;
  }
  .modal_sign .modal_container form.reg .line {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    position: relative;
  }
  .modal_sign .modal_container form.reg .line label {
    margin-bottom: 5px;
    color: #0067A8;
    font-size: 13px;
  }
  .modal_sign .modal_container form.reg .line input {
    width: 100%;
    height: 35px;
    background: white;
    border: none;
    border-radius: 13px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    padding: 0 15px 0 40px;
    font-size: 14px;
  }
  .modal_sign .modal_container form.reg .line input::placeholder {
    color: #898989;
  }
  .modal_sign .modal_container form.reg .line.focus input::placeholder {
    color: #0067A8;
  }
  .modal_sign .modal_container form.reg .line.focus > img {
    filter: unset;
  }
  .modal_sign .modal_container form.reg .line > img {
    width: 15px;
    position: absolute;
    left: 15px;
    top: calc(50% + 9px);
    transform: translateY(-50%);
    filter: contrast(0);
  }
  .modal_sign .modal_container form.reg .line .hide1, .modal_sign .modal_container form.reg .line .hide2 {
    position: absolute;
    right: 15px;
    top: calc(50% + 12px);
    transform: translateY(-50%);
  }
  .modal_sign .modal_container form.reg .line .hide1 a img, .modal_sign .modal_container form.reg .line .hide2 a img {
    width: 25px;
  }
  .modal_sign .modal_container form.reg .line .hide1 a.hiden_icon, .modal_sign .modal_container form.reg .line .hide2 a.hiden_icon {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .modal_sign .modal_container form.reg button {
    margin: 0 auto;
    width: 90%;
    height: 30px;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #32556B 0%, #0067A8 100%);
  }
  .modal_sign .modal_container form.reg p {
    width: 100%;
    font-size: 11px;
    color: #898989;
    text-align: center;
    margin: 10px auto;
  }
  .modal_sign .modal_container form.reg p span {
    font-weight: 700;
  }
  .modal_sign .modal_container form.active {
    position: unset;
    z-index: unset;
  }
  .modal_sign.active {
    visibility: visible;
    opacity: 1;
  }
  .modal_sign.active .modal_container {
    height: 95%;
    transition: 1s;
  }
}

/*# sourceMappingURL=media.css.map */
