<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add post</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="p-3">
       <button type="button" class="btn btn-primary addBodyBt" data-toggle="modal" data-target="#addbody">Add body</button>
       <button class="btn btn-primary addImgBt" data-toggle="modal" data-target="#addimg">Add image</button>
            </div>
<form >
    <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control" id="category" name="category">
            <option value="1">ПОЛИТИКА</option>
            <option value="2">БИЗНЕС</option>
            <option value="3">КУЛЬТУРА</option>
            <option value="4">РАЗБОР</option>
            <option value="5">МНЕНИЯ</option>
            <option value="6">НОВОСТИ</option>
            <option value="7">ГЛАВ</option>
        </select>
    </div>

    <div class="form-group">
        <label for="title">Title</label>
        <textarea class="form-control" id="title" placeholder="Title" name="title" ></textarea>
    </div>
</form>

     <div class="postChildern mx-auto" style="max-width: 600px">
   <div class="aaaaaaa"></div>
     </div>
        </div>
</div>
</div>






<!-- Modal -->

<div class="modal fade" id="addbody" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Body</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="bodyForm">
                        <div class="form-group">
                            <label for="body">Body</label>
                            <textarea class="form-control pb-5" id="body" placeholder="Enter body" name="body" ></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary addBodySaveBt">Save</button>
                </div>

        </div>
    </div>
</div>

<!-- Modal -->

<div class="modal fade" id="addimg" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" >New Img</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="imgForm" method="post" enctype="multipart/form-data" >
                    <div class="form-group">
                        <label for="img">Add img</label>
                        <input id="img" type="file" name="file">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary addImgSaveBt">Save</button>
            </div>

        </div>
    </div>
</div>

<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js}"></script>
<!--<script th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script th:src="@{/assets/js/addPost.js}"></script>
</body>
</html>