<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css}"/>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color: #0c0c0c">
<div class="container bg-white p-3 " style=" max-width:1100px">
    <div class="row mt-2">
        <a th:href="@{/post/addPost}" class="btn btn-primary mx-auto px-5 py-2 addPostBt">Add post</a>
        <a th:href="@{/auth/messageList}" class="btn btn-primary mx-auto px-5 py-2 addPostBt">List Messages</a>
        <div class="col-md-12">
            <table class="table table-border table-striped" style="max-width: 100%" id="postTable">

            </table>
            <buttton type="button" id="moreBtn">Read more</buttton>
        </div>
    </div>
</div>
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js}"></script>
<script th:src="@{/assets/js/post.js}"></script>
</body>
</html>