<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Главная</title>
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&amp;subset=cyrillic}"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/assets/css/libs.css}">
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">
</head>
<body>
<header id="header">
    <div class="currencies">
        <div class="marquee">
            <div class="item"><strong>USD</strong> <span th:text=" ${valyuta.getUsd()}"></span><span class="plus"><sup th:text="${valyuta.getDiff1()}"></sup></span></div>
            <div class="item"><strong>RUB</strong> <span th:text=" ${valyuta.getRub()}"></span><span class="minus"><sup th:text="${valyuta.getDiff4()}">-14.4</sup></span></div>
            <div class="item"><strong>GBP</strong> <span th:text=" ${valyuta.getGbp()}"></span><span class="plus"><sup th:text="${valyuta.getDiff2()}">+2176.45</sup></span></div>
            <div class="item"><strong>EUR</strong> <span th:text=" ${valyuta.getEur()}"></span><span class="minus"><sup th:text="${valyuta.getDiff3()}">-188.45</sup></span></div>
        </div>
    </div>
    <div class="main">
        <div class="container">
            <a href="#/" class="report">
                <img th:src="@{/assets/img/pen.svg}" alt="">
                <p><span>сообщить</span> новость</p>
            </a>
            <a href="#/" class="view"><img th:src="@{/assets/img/view.svg}" alt="">
                <p>Для <span>слабовидящих</span></p>
            </a>
            <a href="index.html" class="logo"><img th:src="@{/assets/img/obozrevatelLogo.png}" alt=""></a>
            <div class="night_mode">
                <input type="checkbox" class="checkbox" id="checkbox"/>
                <label for="checkbox">Ночной режим</label>
            </div>
            <form action="search_page.html" class="search">
                <a><img th:src="@{/assets/img/search.svg}" alt=""></a>
                <div class="input_block">
                    <input type="search" placeholder="Поиск...">
                    <a class="close"><img th:src="@{/assets/img/close.svg}" alt=""></a>
                </div>
            </form>
            <div class="language">
                <a href="#/">Ru <img th:src="@{/assets/img/caret-down.svg}" alt=""></a>
                <div class="box">
                    <a href="#/">Uz</a>
                    <a href="#/">En</a>
                </div>
            </div>
                <div class="date">
                    <span th:text="${data.getDay()}"></span>
                    <div class="my">
                        <div class="month" th:text="${data.getMonth()}"></div>
                        <div class="year" th:text="${data.getYear()}"></div>
                    </div>
                </div>
        </div>
    </div>
    <nav class="bg_white">
        <div class="container">
            <a th:href="@{/auth/}"  class="active" ><span>Главная</span></a>
            <a th:href="@{/auth/politic}" ><span>Политика</span></a>
            <a th:href="@{/auth/business}" ><span>Бизнес</span></a>
            <a th:href="@{/auth/cultura}"><span>Культура</span></a>
            <a th:href="@{/auth/razbor}"><span>Разбор</span></a>
            <a th:href="@{/auth/mneniya}"><span>Мнения</span></a>
            <a th:href="@{/auth/novosti}"><span>Новости</span></a>
        </div>
    </nav>
</header>
<div class="index">
    <div class="cards">
        <div class="container">
            <div class="row">
                <div class="col-md-6 type1-1 card">
                    <div class="inCard">
                        <div class="shimmer"></div>
                        <div class="blur"></div>
                        <div class="back"><img th:src="@{https://img.rl0.ru/dc8b58d149706112c4c666914bb81535/c615x400i/news.rambler.ru/img/2019/09/30170848.155007.2755.jpg}" alt=""></div>
                        <div class="front">
                            <div class="quality">
                                <a href="#/" class="hashtag">#Новости</a>
                                <a href="#/" class="comments"><img th:src="@{/assets/img/speech-bubble.svg}" alt=""> 50</a>
                                <a href="#/" class="likes"><img th:src="@{/assets/img/heart.svg}" alt="">50</a>
                            </div>
                            <a href="post.html" class="title">На кладбище Монпарнас в Париже завершились похороны экс-президента</a>
                            <a href="post.html" class="subtitle">Он был похоронен только в присутствии близких. Ширак похоронен рядом с дочерью Лоранс,
                                умершей в 2016 году, передает «Интерфакс».

                            </a>
                            <div class="foot">
                                <a href="post.html">Подробнее</a>
                                <div class="date"><img th:src="@{/assets/img/calendar.svg}" alt=""> август 14</div>
                                <div class="view"><img th:src="@{/assets/img/view1.svg}" alt=""> 325</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-0">
                    <div class="col-md-12 type2 card">
                        <div class="inCard">
                            <div class="shimmer"></div>
                            <div class="back"><img th:src="@{https://img.rl0.ru/43c6c2f7d79a8b124339912acf13ff56/c615x400i/news.rambler.ru/img/2019/09/30165312.099128.189.png}" alt=""></div>
                            <div class="front">
                                <div class="quality">
                                    <a href="#/" class="hashtag">#Новости</a>
                                    <a href="#/" class="comments"><img th:src="@{/assets/img/speech-bubble.svg}" alt=""> 21</a>
                                    <a href="#/" class="likes"><img th:src="@{/assets/img/heart.svg}" alt="">185</a>
                                </div>
                                <a href="post.html" class="title">Зеленский уволил секретаря СНБО Украины </a>
                                <a href="post.html" class="subtitle">
                                    Президент Украины Владимир Зеленский подписал указ об увольнении Александра Данилюка с поста секретаря Совета национальной безопасности и обороны страны.
                                </a>
                                <div class="foot">
                                    <a href="post.html">Подробнее</a>
                                    <div class="date"><img th:src="@{/assets/img/calendar.svg}" alt=""> август 14</div>
                                    <div class="view"><img th:src="@{/assets/img/view1.svg}" alt=""> 325</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 type3 card">
                        <div class="inCard">
                            <div class="shimmer"></div>
                            <div class="back"><img th:src="@{https://img.rl0.ru/43c6c2f7d79a8b124339912acf13ff56/c615x400i/news.rambler.ru/img/2019/09/30165312.099128.189.png}" alt=""></div>
                            <div class="front">
                                <div class="quality">
                                    <a href="#/" class="hashtag">#Новости</a>
                                    <a href="#/" class="comments"><img th:src="@{/assets/img/speech-bubble.svg}" alt=""> 21</a>
                                    <a href="#/" class="likes"><img th:src="@{/assets/img/heart.svg}" alt="">185</a>
                                </div>
                                <a href="post.html" class="title">Зеленский уволил секретаря СНБО Украины </a>
                                <div class="foot">
                                    <a href="post.html">Подробнее</a>
                                    <div class="date"><img th:src="@{/assets/img/calendar.svg}" alt=""> август 14</div>
                                    <div class="view"><img th:src="@{/assets/img/view1.svg}" alt=""> 325</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 type3 card">
                        <div class="inCard">
                            <div class="shimmer"></div>
                            <div class="back"><img th:src="@{https://img.rl0.ru/43c6c2f7d79a8b124339912acf13ff56/c615x400i/news.rambler.ru/img/2019/09/30165312.099128.189.png}" alt=""></div>
                            <div class="front">
                                <div class="quality">
                                    <a href="#/" class="hashtag">#Новости</a>
                                    <a href="#/" class="comments"><img th:src="@{/assets/img/speech-bubble.svg}" alt=""> 21</a>
                                    <a href="#/" class="likes"><img th:src="@{/assets/img/heart.svg}" alt="">185</a>
                                </div>
                                <a href="post.html" class="title">Зеленский уволил секретаря СНБО Украины </a>
                                <div class="foot">
                                    <a href="post.html">Подробнее</a>
                                    <div class="date"><img th:src="@{/assets/img/calendar.svg}" alt=""> август 14</div>
                                    <div class="view"><img th:src="@{/assets/img/view1.svg}" alt=""> 325</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="news_line">
        <div class="item">
            <div class="container">
                <a href="#/" class="title">В жилом доме по батареям пустили электричество</a>
                <div class="quality">
                    <a href="#/" class="hashtag">#Новости</a>
                    <div class="date"><img th:src="@{/assets/img/calendar2.svg}" alt=""> 9 августа</div>
                    <div class="time"><img th:src="@{/assets/img/clock-circular-outline.svg}" alt=""> 18:30</div>
                    <div class="view"><img th:src="@{/assets/img/view2.svg}" alt=""> 332</div>
                </div>
                <p>
                    Хокимият Ташкента открыл площадку mo.tashkent.uz, на которой будут проводиться опросы по актуальным
                    темам. Жители столицы смогут выразить свое мнение по поводу городской инфраструктуры, экологии,
                    проводимых мероприятий и работы госорганов. ыл площадку mo.tashkent.uz, на которой будут проводиться
                    опросы по актуальным темам.
                </p>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <a href="#/" class="title">В жилом доме по батареям пустили электричество</a>
                <div class="quality">
                    <a href="#/" class="hashtag">#Новости</a>
                    <div class="date"><img th:src="@{/assets/img/calendar2.svg}" alt=""> 9 августа</div>
                    <div class="time"><img th:src="@{/assets/img/clock-circular-outline.svg}" alt=""> 18:30</div>
                    <div class="view"><img th:src="@{/assets/img/view2.svg}" alt=""> 332</div>
                </div>
                <p>
                    Хокимият Ташкента открыл площадку mo.tashkent.uz, на которой будут проводиться опросы по актуальным
                    темам. Жители столицы смогут выразить свое мнение по поводу городской инфраструктуры, экологии,
                    проводимых мероприятий и работы госорганов. ыл площадку mo.tashkent.uz, на которой будут проводиться
                    опросы по актуальным темам.
                </p>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <a href="#/" class="title">В жилом доме по батареям пустили электричество</a>
                <div class="quality">
                    <a href="#/" class="hashtag">#Новости</a>
                    <div class="date"><img th:src="@{/assets/img/calendar2.svg}" alt=""> 9 августа</div>
                    <div class="time"><img th:src="@{/assets/img/clock-circular-outline.svg}" alt=""> 18:30</div>
                    <div class="view"><img th:src="@{/assets/img/view2.svg}" alt=""> 332</div>
                </div>
                <p>
                    Хокимият Ташкента открыл площадку mo.tashkent.uz, на которой будут проводиться опросы по актуальным
                    темам. Жители столицы смогут выразить свое мнение по поводу городской инфраструктуры, экологии,
                    проводимых мероприятий и работы госорганов. ыл площадку mo.tashkent.uz, на которой будут проводиться
                    опросы по актуальным темам.
                </p>
            </div>
        </div>
    </div>
    <div class="cards">
        <div class="container">
            <div class="row mb-20">
                <div class="col-md-6 type1-2 card">
                    <div class="inCard">
                        <div class="shimmer"></div>
                        <div class="back">
                            <img th:src="@{/assets/img/rtyuio.png}" alt="">
                        </div>
                        <div class="front">
                            <div class="quality">
                                <a href="#/" class="hashtag">#Новости</a>
                            </div>
                            <a href="post.html" class="title">Американский режиссёр снимет в Узбекистане исторический сериал в
                                стиле «Игры престолов»</a>
                            <a href="post.html" class="subtitle">
                                Американский режиссёр Джейкоб Шварц, автор первого короткометражного фильма об
                                Узбекистане в
                                формате 8K, намерен снять в республике исторический сериал.
                            </a>
                            <div class="foot">
                                <div class="date"><img th:src="@{/assets/img/calendar.svg}" alt=""> август 14</div>
                                <div class="view"><img th:src="@{/assets/img/view1.svg}" alt=""> 325</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 type4 card">
                    <div class="inCard">
                        <div class="shimmer"></div>
                        <div class="image">
                            <img th:src="@{https://img.rl0.ru/a3c0da55c5a02f9ed023b12904e4571e/c615x400i/news.rambler.ru/img/2019/09/04052648.879300.3973.jpeg}" alt="">
                            <a href="#/" class="hashtag">#Мнения</a>
                        </div>
                        <div class="text">
                            <div class="quality">
                                <div class="date"><img th:src="@{/assets/img/calendar2.svg}" alt=""> 9 августа</div>
                                <div class="time"><img th:src="@{/assets/img/clock-circular-outline.svg}" alt=""> 18:30</div>
                                <div class="view"><img th:src="@{/assets/img/view2.svg}" alt=""> 332</div>
                            </div>
                            <a href="post.html" class="title">Подорожание мяса пере- делка с чем это связанно? разбираемся далее</a>
                            <a href="post.html" class="subtitle">
                                В Казахстанско-Немецком университете обсудили итоги экспедиции «От ледников до Арала»
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 type4 card">
                    <div class="inCard">
                        <div class="shimmer"></div>
                        <div class="image">
                            <img th:src="@{https://img.rl0.ru/a3c0da55c5a02f9ed023b12904e4571e/c615x400i/news.rambler.ru/img/2019/09/04052648.879300.3973.jpeg}" alt="">
                            <a href="#/" class="hashtag">#Мнения</a>
                        </div>
                        <div class="text">
                            <div class="quality">
                                <div class="date"><img th:src="@{/assets/img/calendar2.svg}" alt=""> 9 августа</div>
                                <div class="time"><img th:src="@{/assets/img/clock-circular-outline.svg}" alt=""> 18:30</div>
                                <div class="view"><img th:src="@{/assets/img/view2.svg}" alt=""> 332</div>
                            </div>
                            <a href="post.html" class="title">Подорожание мяса пере- делка с чем это связанно? разбираемся далее</a>
                            <a href="post.html" class="subtitle">
                                В Казахстанско-Немецком университете обсудили итоги экспедиции «От ледников до Арала»
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 type4 card">
                    <div class="inCard">
                        <div class="shimmer"></div>
                        <div class="image">
                            <img th:src="@{https://img.rl0.ru/a3c0da55c5a02f9ed023b12904e4571e/c615x400i/news.rambler.ru/img/2019/09/04052648.879300.3973.jpeg}" alt="">
                            <a href="#/" class="hashtag">#Мнения</a>
                        </div>
                        <div class="text">
                            <div class="quality">
                                <div class="date"><img th:src="@{/assets/img/calendar2.svg}" alt=""> 9 августа</div>
                                <div class="time"><img th:src="@{/assets/img/clock-circular-outline.svg}" alt=""> 18:30</div>
                                <div class="view"><img th:src="@{/assets/img/view2.svg}" alt=""> 332</div>
                            </div>
                            <a href="post.html" class="title">Подорожание мяса пере- делка с чем это связанно? разбираемся далее</a>
                            <a href="post.html" class="subtitle">
                                В Казахстанско-Немецком университете обсудили итоги экспедиции «От ледников до Арала»
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 type4 card">
                    <div class="inCard">
                        <div class="shimmer"></div>
                        <div class="image">
                            <img th:src="@{https://img.rl0.ru/a3c0da55c5a02f9ed023b12904e4571e/c615x400i/news.rambler.ru/img/2019/09/04052648.879300.3973.jpeg}" alt="">
                            <a href="#/" class="hashtag">#Мнения</a>
                        </div>
                        <div class="text">
                            <div class="quality">
                                <div class="date"><img th:src="@{/assets/img/calendar2.svg}" alt=""> 9 августа</div>
                                <div class="time"><img th:src="@{/assets/img/clock-circular-outline.svg}" alt=""> 18:30</div>
                                <div class="view"><img th:src="@{/assets/img/view2.svg}" alt=""> 332</div>
                            </div>
                            <a href="post.html" class="title">Подорожание мяса пере- делка с чем это связанно? разбираемся далее</a>
                            <a href="post.html" class="subtitle">
                                В Казахстанско-Немецком университете обсудили итоги экспедиции «От ледников до Арала»
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 type1-2 card">
                    <div class="inCard">
                        <div class="shimmer"></div>
                        <div class="back"><img th:src="@{/assets/img/rtyuio.png}" alt=""></div>
                        <div class="front">
                            <div class="quality">
                                <a href="#/" class="hashtag">#Новости</a>
                            </div>
                            <a href="post.html" class="title">Американский режиссёр снимет в Узбекистане исторический сериал в
                                стиле «Игры престолов»</a>
                            <a href="post.html" class="subtitle">
                                Американский режиссёр Джейкоб Шварц, автор первого короткометражного фильма об
                                Узбекистане в
                                формате 8K, намерен снять в республике исторический сериал.
                            </a>
                            <div class="foot">
                                <div class="date"><img th:src="@{/assets/img/calendar.svg}" alt=""> август 14</div>
                                <div class="view"><img th:src="@{/assets/img/view1.svg}" alt=""> 325</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popular">
        <div class="container">
            <div class="section_name">Самое популярное</div>
            <div class="cards">
                <div class="row">
                    <div class="col-md-4 type5 card">
                        <div class="inCard">
                            <div class="shimmer"></div>
                            <div class="image">
                                <img th:src="@{https://img.rl0.ru/a3c0da55c5a02f9ed023b12904e4571e/c615x400i/news.rambler.ru/img/2019/09/04052648.879300.3973.jpeg}" alt="">
                                <a href="#/" class="hashtag">#Мнения</a>
                            </div>
                            <div class="text">
                                <div class="quality">
                                    <div class="date"><img th:src="@{/assets/img/calendar2.svg}" alt=""> 9 августа</div>
                                    <div class="time"><img th:src="@{/assets/img/clock-circular-outline.svg}" alt=""> 18:30</div>
                                    <div class="view"><img th:src="@{/assets/img/view2.svg}" alt=""> 332</div>
                                </div>
                                <a href="#/" class="title">Подорожание мяса пере- делка с чем это связанно? разбираемся далее</a>
                                <a href="#/" class="subtitle">
                                    В Казахстанско-Немецком университете обсудили итоги экспедиции «От ледников до
                                    Арала»
                                </a>
                            </div>
                            <div class="more"><a href="#/">Подробнее</a></div>
                        </div>
                    </div>
                    <div class="col-md-4 type5 card">
                        <div class="inCard">
                            <div class="shimmer"></div>
                            <div class="image">
                                <img th:src="@{https://img.rl0.ru/a3c0da55c5a02f9ed023b12904e4571e/c615x400i/news.rambler.ru/img/2019/09/04052648.879300.3973.jpeg}" alt="">
                                <a href="#/" class="hashtag">#Мнения</a>
                            </div>
                            <div class="text">
                                <div class="quality">
                                    <div class="date"><img th:src="@{/assets/img/calendar2.svg}" alt=""> 9 августа</div>
                                    <div class="time"><img th:src="@{/assets/img/clock-circular-outline.svg}" alt=""> 18:30</div>
                                    <div class="view"><img th:src="@{/assets/img/view2.svg}" alt=""> 332</div>
                                </div>
                                <a href="#/" class="title">Подорожание мяса пере- делка с чем это связанно? разбираемся далее</a>
                                <a href="#/" class="subtitle">
                                    В Казахстанско-Немецком университете обсудили итоги экспедиции «От ледников до
                                    Арала»
                                </a>
                            </div>
                            <div class="more"><a href="#/">Подробнее</a></div>
                        </div>
                    </div>
                    <div class="col-md-4 type5 card">
                        <div class="inCard">
                            <div class="shimmer"></div>
                            <div class="image">
                                <img th:src="@{https://img.rl0.ru/a3c0da55c5a02f9ed023b12904e4571e/c615x400i/news.rambler.ru/img/2019/09/04052648.879300.3973.jpeg}" alt="">
                                <a href="#/" class="hashtag">#Мнения</a>
                            </div>
                            <div class="text">
                                <div class="quality">
                                    <div class="date"><img th:src="@{/assets/img/calendar2.svg}" alt=""> 9 августа</div>
                                    <div class="time"><img th:src="@{/assets/img/clock-circular-outline.svg}" alt=""> 18:30</div>
                                    <div class="view"><img th:src="@{/assets/img/view2.svg}" alt=""> 332</div>
                                </div>
                                <a href="#/" class="title">Подорожание мяса пере- делка с чем это связанно? разбираемся далее</a>
                                <a href="#/" class="subtitle">
                                    В Казахстанско-Немецком университете обсудили итоги экспедиции «От ледников до
                                    Арала»
                                </a>
                            </div>
                            <div class="more"><a href="#/">Подробнее</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="news_line">
        <div class="item">
            <div class="container">
                <a href="#/" class="title">Россия запретила въезд в страну вице-спикеру Сейма Польши </a>
                <div class="quality">
                    <a href="#/" class="hashtag">#Новости</a>
                    <div class="date"><img th:src="@{/assets/img/calendar2.svg}" alt=""> 9 августа</div>
                    <div class="time"><img th:src="@{/assets/img/clock-circular-outline.svg}" alt=""> 18:30</div>
                    <div class="view"><img th:src="@{/assets/img/view2.svg}" alt=""> 332</div>
                </div>
                <p>
                    Хокимият Ташкента открыл площадку mo.tashkent.uz, на которой будут проводиться опросы по актуальным
                    темам. Жители столицы смогут выразить свое мнение по поводу городской инфраструктуры, экологии,
                    проводимых мероприятий и работы госорганов. ыл площадку mo.tashkent.uz, на которой будут проводиться
                    опросы по актуальным темам.
                </p>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <a href="#/" class="title">Россия запретила въезд в страну вице-спикеру Сейма Польши </a>
                <div class="quality">
                    <a href="#/" class="hashtag">#Новости</a>
                    <div class="date"><img th:src="@{/assets/img/calendar2.svg}" alt=""> 9 августа</div>
                    <div class="time"><img th:src="@{/assets/img/clock-circular-outline.svg}" alt=""> 18:30</div>
                    <div class="view"><img th:src="@{/assets/img/view2.svg}" alt=""> 332</div>
                </div>
                <p>
                    Хокимият Ташкента открыл площадку mo.tashkent.uz, на которой будут проводиться опросы по актуальным
                    темам. Жители столицы смогут выразить свое мнение по поводу городской инфраструктуры, экологии,
                    проводимых мероприятий и работы госорганов. ыл площадку mo.tashkent.uz, на которой будут проводиться
                    опросы по актуальным темам.
                </p>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <a href="#/" class="title">Россия запретила въезд в страну вице-спикеру Сейма Польши </a>
                <div class="quality">
                    <a href="#/" class="hashtag">#Новости</a>
                    <div class="date"><img th:src="@{/assets/img/calendar2.svg}" alt=""> 9 августа</div>
                    <div class="time"><img th:src="@{/assets/img/clock-circular-outline.svg}" alt=""> 18:30</div>
                    <div class="view"><img th:src="@{/assets/img/view2.svg}" alt=""> 332</div>
                </div>
                <p>
                    Хокимият Ташкента открыл площадку mo.tashkent.uz, на которой будут проводиться опросы по актуальным
                    темам. Жители столицы смогут выразить свое мнение по поводу городской инфраструктуры, экологии,
                    проводимых мероприятий и работы госорганов. ыл площадку mo.tashkent.uz, на которой будут проводиться
                    опросы по актуальным темам.
                </p>
            </div>
        </div>
    </div>
    <div class="others main-carousel">
        <div class="carousel-cell">
            <div class="item">
                <div class="back"><img th:src="@{https://icdn.lenta.ru/images/2019/09/20/19/20190920190432455/detail_9010927d8ea081c17934ec77d824c2d8.png}" alt=""></div>
                <div class="front">
                    <a href="#/">«История подвержена манипуляциям»</a>
                </div>
            </div>
            <div class="item">
                <div class="back"><img th:src="@{https://icdn.lenta.ru/images/2019/09/20/19/20190920190432455/detail_9010927d8ea081c17934ec77d824c2d8.png}" alt=""></div>
                <div class="front">
                    <a href="#/">«История подвержена манипуляциям»</a>
                </div>
            </div>
            <div class="item">
                <div class="back"><img th:src="@{https://icdn.lenta.ru/images/2019/09/20/19/20190920190432455/detail_9010927d8ea081c17934ec77d824c2d8.png}" alt=""></div>
                <div class="front">
                    <a href="#/">«История подвержена манипуляциям»</a>
                </div>
            </div>
            <div class="item">
                <div class="back"><img th:src="@{https://icdn.lenta.ru/images/2019/09/20/19/20190920190432455/detail_9010927d8ea081c17934ec77d824c2d8.png}" alt=""></div>
                <div class="front">
                    <a href="#/">Загрязнение кораловых рифов дошло до предела</a>
                </div>
            </div>
            <div class="item">
                <div class="back"><img th:src="@{https://icdn.lenta.ru/images/2019/09/20/19/20190920190432455/detail_9010927d8ea081c17934ec77d824c2d8.png}" alt=""></div>
                <div class="front">
                    <a href="#/">«История подвержена манипуляциям»</a>
                </div>
            </div>
            <div class="item">
                <div class="back"><img th:src="@{https://icdn.lenta.ru/images/2019/09/20/19/20190920190432455/detail_9010927d8ea081c17934ec77d824c2d8.png}" alt=""></div>
                <div class="front">
                    <a href="#/">Загрязнение кораловых рифов дошло до предела</a>
                </div>
            </div>
            <div class="item">
                <div class="back"><img th:src="@{https://icdn.lenta.ru/images/2019/09/20/19/20190920190432455/detail_9010927d8ea081c17934ec77d824c2d8.png}" alt=""></div>
                <div class="front">
                    <a href="#/">«История подвержена манипуляциям»</a>
                </div>
            </div>
            <div class="item">
                <div class="back"><img th:src="@{https://icdn.lenta.ru/images/2019/09/20/19/20190920190432455/detail_9010927d8ea081c17934ec77d824c2d8.png}" alt=""></div>
                <div class="front">
                    <a href="#/">«История подвержена манипуляциям»</a>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="item">
                <div class="back"><img th:src="@{https://icdn.lenta.ru/images/2019/09/20/19/20190920190432455/detail_9010927d8ea081c17934ec77d824c2d8.png}" alt=""></div>
                <div class="front">
                    <a href="#/">«История подвержена манипуляциям»</a>
                </div>
            </div>
            <div class="item">
                <div class="back"><img th:src="@{https://icdn.lenta.ru/images/2019/09/20/19/20190920190432455/detail_9010927d8ea081c17934ec77d824c2d8.png}" alt=""></div>
                <div class="front">
                    <a href="#/">Загрязнение кораловых рифов дошло до предела</a>
                </div>
            </div>
            <div class="item">
                <div class="back"><img th:src="@{https://icdn.lenta.ru/images/2019/09/20/19/20190920190432455/detail_9010927d8ea081c17934ec77d824c2d8.png}" alt=""></div>
                <div class="front">
                    <a href="#/">«История подвержена манипуляциям»</a>
                </div>
            </div>
            <div class="item">
                <div class="back"><img th:src="@{https://icdn.lenta.ru/images/2019/09/20/19/20190920190432455/detail_9010927d8ea081c17934ec77d824c2d8.png}" alt=""></div>
                <div class="front">
                    <a href="#/">Загрязнение кораловых рифов дошло до предела</a>
                </div>
            </div>
            <div class="item">
                <div class="back"><img th:src="@{https://icdn.lenta.ru/images/2019/09/20/19/20190920190432455/detail_9010927d8ea081c17934ec77d824c2d8.png}" alt=""></div>
                <div class="front">
                    <a href="#/">«История подвержена манипуляциям»</a>
                </div>
            </div>
            <div class="item">
                <div class="back"><img th:src="@{https://icdn.lenta.ru/images/2019/09/20/19/20190920190432455/detail_9010927d8ea081c17934ec77d824c2d8.png}" alt=""></div>
                <div class="front">
                    <a href="#/">Загрязнение кораловых рифов дошло до предела</a>
                </div>
            </div>
            <div class="item">
                <div class="back"><img th:src="@{https://icdn.lenta.ru/images/2019/09/20/19/20190920190432455/detail_9010927d8ea081c17934ec77d824c2d8.png}" alt=""></div>
                <div class="front">
                    <a href="#/">«История подвержена манипуляциям»</a>
                </div>
            </div>
            <div class="item">
                <div class="back"><img th:src="@{https://icdn.lenta.ru/images/2019/09/20/19/20190920190432455/detail_9010927d8ea081c17934ec77d824c2d8.png}" alt=""></div>
                <div class="front">
                    <a href="#/">Загрязнение кораловых рифов дошло до предела</a>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="item">
                <div class="back"><img th:src="@{https://icdn.lenta.ru/images/2019/09/20/19/20190920190432455/detail_9010927d8ea081c17934ec77d824c2d8.png}" alt=""></div>
                <div class="front">
                    <a href="#/">«История подвержена манипуляциям»</a>
                </div>
            </div>
            <div class="item">
                <div class="back"><img th:src="@{https://icdn.lenta.ru/images/2019/09/20/19/20190920190432455/detail_9010927d8ea081c17934ec77d824c2d8.png}" alt=""></div>
                <div class="front">
                    <a href="#/">Загрязнение кораловых рифов дошло до предела</a>
                </div>
            </div>
            <div class="item">
                <div class="back"><img th:src="@{https://icdn.lenta.ru/images/2019/09/20/19/20190920190432455/detail_9010927d8ea081c17934ec77d824c2d8.png}" alt=""></div>
                <div class="front">
                    <a href="#/">«История подвержена манипуляциям»</a>
                </div>
            </div>
            <div class="item">
                <div class="back"><img th:src="@{https://icdn.lenta.ru/images/2019/09/20/19/20190920190432455/detail_9010927d8ea081c17934ec77d824c2d8.png}" alt=""></div>
                <div class="front">
                    <a href="#/">Загрязнение кораловых рифов дошло до предела</a>
                </div>
            </div>
            <div class="item">
                <div class="back"><img th:src="@{https://icdn.lenta.ru/images/2019/09/20/19/20190920190432455/detail_9010927d8ea081c17934ec77d824c2d8.png}" alt=""></div>
                <div class="front">
                    <a href="#/">«История подвержена манипуляциям»</a>
                </div>
            </div>
            <div class="item">
                <div class="back"><img th:src="@{https://icdn.lenta.ru/images/2019/09/20/19/20190920190432455/detail_9010927d8ea081c17934ec77d824c2d8.png}" alt=""></div>
                <div class="front">
                    <a href="#/">Загрязнение кораловых рифов дошло до предела</a>
                </div>
            </div>
            <div class="item">
                <div class="back"><img th:src="@{https://icdn.lenta.ru/images/2019/09/20/19/20190920190432455/detail_9010927d8ea081c17934ec77d824c2d8.png}" alt=""></div>
                <div class="front">
                    <a href="#/">«История подвержена манипуляциям»</a>
                </div>
            </div>
            <div class="item">
                <div class="back"><img th:src="@{https://icdn.lenta.ru/images/2019/09/20/19/20190920190432455/detail_9010927d8ea081c17934ec77d824c2d8.png}" alt=""></div>
                <div class="front">
                    <a href="#/">Загрязнение кораловых рифов дошло до предела</a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="bg"></div>
    <div class="overlay"></div>
    <nav>
        <a href="#/">О проекте</a>
        <a href="#/">Контакты</a>
        <a href="#/">Реклама</a>
        <a href="#/">Правила</a>
        <a href="#/">Политика</a>
    </nav>
    <div class="container">
        <a href="index.html" class="logo"><img th:src="@{/assets/img/1@2x.png}" alt=""></a>
        <p><img th:src="@{/assets/img/copyright.svg}" alt=""> 2019. Новостной портал "Обозреватель.уз"</p>
        <a th:href="@{/auth/plus18}" class="plus18">18 <span>+</span></a>
        <div class="studio"><a href="http://vendy.agency" target="_blank"><img th:src="@{/assets/img/2.svg}" alt=""></a> <span>Разработано <br> агентством <br> vendy</span>
        </div>
    </div>
</footer>
<div class="right_fixed">
    <div class="social">
        <div class="item instagram"><a href="#/"><img th:src="@{/assets/img/instagram.svg}" alt=""></a></div>
        <div class="item facebook"><a href="#/"><img th:src="@{/assets/img/facebook-logo.svg}" alt=""></a></div>
        <div class="item telegram"><a href="#/"><img th:src="@{/assets/img/telegram-logo.svg}" alt=""></a></div>
    </div>
    <a href="#header" class="arrow"><img th:src="@{/assets/img/right-arrow%20(1).svg}" alt=""></a>
</div>
<div class="modal modal_report">
    <div class="bg"></div>
    <div class="modal_container">
        <div class="close"><img th:src="@{/assets/img/cancel-button.svg}" alt=""></div>
        <form  method="post" action="/auth/message" id="sendForm">
            <div class="line">
                <textarea name="text" id="news" placeholder="Новость..."></textarea>
            </div>
            <div class="line"><input type="number" placeholder="Тел." id="number" name="phoneNumber"></div>
            <div class="line">
                <input type="text" placeholder="Имя" id="name" autocomplete="off" name="username">
                <div class="anonym">
                    <label for="anonym">анонимно</label>
                    <input type="checkbox" id="anonym">
                </div>
            </div>
            <button type="submit" id="sendBtn">Отправить</button>
        </form>
        <div class="about">
            <h1>Сообщить <span>новость</span></h1>
            <img th:src="@{/assets/img/illustr@2x.png}" alt="">
        </div>
    </div>
</div>
<script th:src="@{/assets/js/html5shiv.js}"></script>
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/jquery.marquee.min.js}"></script>
<script th:src="@{/assets/js/desktop.js}"></script>
<script th:src="@{/assets/js/saveMessage.js}"></script>
</body>
</html>