<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Внимание</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&amp;subset=cyrillic}"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/assets/css/libs.css}">
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">
</head>
<body class="f9f9f9_body">
<div class="overlay"></div>
<header id="header">
    <div class="currencies">
        <div class="marquee">
            <div class="item"><strong>USD</strong> <span th:text=" ${valyuta.getUsd()}"></span><span class="plus"><sup th:text="${valyuta.getDiff1()}"></sup></span></div>
            <div class="item"><strong>RUB</strong> <span th:text=" ${valyuta.getRub()}"></span><span class="minus"><sup th:text="${valyuta.getDiff4()}">-14.4</sup></span></div>
            <div class="item"><strong>GBP</strong> <span th:text=" ${valyuta.getGbp()}"></span><span class="plus"><sup th:text="${valyuta.getDiff2()}">+2176.45</sup></span></div>
            <div class="item"><strong>EUR</strong> <span th:text=" ${valyuta.getEur()}"></span><span class="minus"><sup th:text="${valyuta.getDiff3()}">-188.45</sup></span></div>
        </div>
    </div>
    <div class="main">
        <div class="container">
            <a href="#/" class="report"><img th:src="@{/assets/img/pen.svg}" alt="">
                <p><span>сообщить</span> новость</p></a>
            <a href="#/" class="view"><img th:src="@{/assets/img/view.svg}" alt="">
                <p>Для <span>слабовидящих</span></p></a>
            <a href="index.html" class="logo"><img th:src="@{/assets/img/obozrevatelLogo.png}" alt=""></a>
            <div class="night_mode">
                <input type="checkbox" class="checkbox" id="checkbox"/>
                <label for="checkbox">Ночной режим</label>
            </div>
            <div class="search">
                <a><img th:src="@{/assets/img/search.svg}" alt=""></a>
                <div class="input_block">
                    <input type="search" placeholder="Поиск...">
                    <a class="close"><img th:src="@{/assets/img/close.svg}" alt=""></a>
                </div>
            </div>
            <div class="language">
                <a href="#/">Ru <img th:src="@{/assets/img/caret-down.svg}" alt=""></a>
                <div class="box">
                    <a href="#/">Uz</a>
                    <a href="#/">En</a>
                </div>
            </div>
            <div class="date">
                <span th:text="${data.getDay()}"></span>
                <div class="my">
                    <div class="month" th:text="${data.getMonth()}"></div>
                    <div class="year" th:text="${data.getYear()}"></div>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <div class="container">
            <a th:href="@{/auth/}" ><span>Главная</span></a>
            <a th:href="@{/auth/politic}" ><span>Политика</span></a>
            <a th:href="@{/auth/business}" ><span>Бизнес</span></a>
            <a th:href="@{/auth/cultura}"><span>Культура</span></a>
            <a th:href="@{/auth/razbor}"><span>Разбор</span></a>
            <a th:href="@{/auth/mneniya}"><span>Мнения</span></a>
            <a th:href="@{/auth/novosti}"><span>Новости</span></a>
        </div>
    </nav>
</header>
<div class="plus">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="content">
                    <p>
                        ВНИМАНИЕ!
                    </p>
                    <p>
                        желание детей употреблять алкоголь и табак, наркотики, психотропные вещества или
                        другие вещества, влияющие на их умственную деятельность, участвовать в азартных играх,
                        беспорядках, проституции, колдовстве, попрошайничестве или других формах социального поведения;
                    </p>
                    <p>
                        В соответствии с Законом Республики Узбекистан от 8 сентября 2017 года «О защите детей
                        от информации, вредной для их здоровья»:
                    </p>
                    <p>
                        поощрение детей к совершению действий, которые ставят
                        под угрозу их жизнь и / или здоровье, включая вред их здоровью, самоубийство и пропаганду такого
                        поведения;
                    </p>
                    <p>

                    </p>
                    <p>
                        оправдание или оправдание возможности насилия или жестокости по отношению к людям или животным
                        или побуждение их к совершению насильственных действий;
                    </p>
                    <p>
                        отрицающие семейные ценности, способствующие безнравственности и вызывающие неуважение к
                        родителям и другим членам семьи;
                    </p>
                    <p>
                        оправдание неправомерного поведения и совершение преступления;
                    </p>
                    <p>
                        призыв к распространению коррупции в обществе;
                    </p>
                    <p>
                        содержащие позорные слова;
                    </p>
                    <p>
                        содержащий порнографический контент;
                    </p>
                    <p>
                        фото или
                        видеозапись детей, подвергшихся насилию в результате незаконных действий, включая фамилию, имя,
                        отчество ребенка, его или ее родителей и других законных представителей, дату рождения ребенка,
                        его или ее аудиозапись, место жительства или временное проживание; информационные продукты,
                        содержащие информацию о месте работы, которые прямо или косвенно идентифицируют такого ребенка,
                        запрещено распространять среди детей.
                    </p>
                    <p>
                        Соответственно, некоторая информация (сообщения,
                        информация, статьи), опубликованная на сайте obozrevatel.uz, ​​является запрещенным
                        информационным продуктом для детей, и лицам, не достигшим 18 лет, запрещено использовать данный
                        контент.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sidebar">
                    <div class="col-md-12 type4 card">
                        <div class="inCard">
                            <div class="image">
                                <img th:src="@{/assets/img/Tramp.jpeg}" alt="">
                                <a href="#/" class="hashtag">#Мнения</a>
                            </div>
                            <div class="text">
                                <div class="quality">
                                    <div class="date"><img th:src="@{/assets/img/calendar2.svg}" alt=""> 9 августа</div>
                                    <div class="time"><img th:src="@{/assets/img/clock-circular-outline.svg}" alt=""> 18:30</div>
                                    <div class="view"><img th:src="@{/assets/img/view2.svg}" alt=""> 332</div>
                                </div>
                                <a href="#/">Подорожание мяса пере- делка с чем это связанно? разбираемся далее</a>
                                <p>
                                    В Казахстанско-Немецком университете обсудили итоги экспедиции «От ледников до
                                    Арала»
                                    В Казахстанско-Немецком университете обсудили итоги экспедиции «От ледников до
                                    Арала»
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="material">
                        <div class="box_title">Материалы по теме</div>
                        <div class="big">
                            <a href="#/" class="title">Ташкентский хокимият запустил сайт-опросник с баллами и
                                призами</a>
                            <a href="#/" class="hashtag">#Мнения</a>
                        </div>
                        <div class="list">
                            <div class="item">
                                <a href="#/">Ташкентский хокимият запустил сайт-опросник</a>
                            </div>
                            <div class="item">
                                <a href="#/">Ташкентский хокимият запустил сайт-опросник</a>
                            </div>
                            <div class="item">
                                <a href="#/">Ташкентский хокимият запустил сайт-опросник</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="bg"></div>
    <div class="overlay"></div>
    <nav>
        <a href="#/">О проекте</a>
        <a href="#/">Контакты</a>
        <a href="#/">Реклама</a>
        <a href="#/">Правила</a>
        <a href="#/">Политика</a>
    </nav>
    <div class="container">
        <a href="index.html" class="logo"><img th:src="@{/assets/img/1@2x.png}" alt=""></a>
        <p><img th:src="@{/assets/img/copyright.svg}" alt=""> 2019. Новостной портал "Обозреватель.уз"</p>
        <a th:href="@{/auth/plus18}" class="plus18">18 <span>+</span></a>
        <div class="studio"><a href="#" target="_blank"><img th:src="@{/assets/img/2.svg}" alt=""></a> <span>Разработано <br> агентством <br> vendy</span>
        </div>
    </div>
</footer>
<div class="right_fixed">
    <div class="social">
        <div class="item instagram"><a href="#/"><img th:src="@{/assets/img/instagram.svg}" alt=""></a></div>
        <div class="item facebook"><a href="#/"><img th:src="@{/assets/img/facebook-logo.svg}" alt=""></a></div>
        <div class="item telegram"><a href="#/"><img th:src="@{/assets/img/telegram-logo.svg}" alt=""></a></div>
    </div>
    <a href="#header" class="arrow"><img th:src="@{/assets/img/right-arrow%20(1).svg}" alt=""></a>
</div>
<div class="modal modal_report">
    <div class="bg"></div>
    <div class="modal_container">
        <div class="close"><img th:src="@{/assets/img/cancel-button.svg}" alt=""></div>
        <form  method="post" action="/auth/message" id="sendForm">
            <div class="line">
                <textarea name="text" id="news" placeholder="Новость..."></textarea>
            </div>
            <div class="line"><input type="number" placeholder="Тел." id="number" name="phoneNumber"></div>
            <div class="line">
                <input type="text" placeholder="Имя" id="name" autocomplete="off" name="username">
                <div class="anonym">
                    <label for="anonym">анонимно</label>
                    <input type="checkbox" id="anonym">
                </div>
            </div>
            <button type="submit" id="sendBtn">Отправить</button>
        </form>
        <div class="about">
            <h1>Сообщить <span>новость</span></h1>
            <img th:src="@{/assets/img/illustr@2x.png}" alt="">
        </div>
    </div>
</div>
<script th:src="@{/assets/js/html5shiv.js}"></script>
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/jquery.marquee.min.js}"></script>
<script th:src="@{/assets/js/desktop.js}"></script>
<script th:src="@{assets/js/message.js}"></script>
</body>
</html>