<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Новость</title>
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&amp;subset=cyrillic}"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/assets/css/libs.css}">
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">
</head>
<body class="f9f9f9_body">
<div class="overlay"></div>
<header id="header">
    <div class="currencies">
        <div class="marquee">
            <div class="item"><strong>USD</strong> <span th:text=" ${valyuta.getUsd()}"></span><span class="plus"><sup th:text="${valyuta.getDiff1()}"></sup></span></div>
            <div class="item"><strong>RUB</strong> <span th:text=" ${valyuta.getRub()}"></span><span class="minus"><sup th:text="${valyuta.getDiff4()}">-14.4</sup></span></div>
            <div class="item"><strong>GBP</strong> <span th:text=" ${valyuta.getGbp()}"></span><span class="plus"><sup th:text="${valyuta.getDiff2()}">+2176.45</sup></span></div>
            <div class="item"><strong>EUR</strong> <span th:text=" ${valyuta.getEur()}"></span><span class="minus"><sup th:text="${valyuta.getDiff3()}">-188.45</sup></span></div>
        </div>
    </div>
    <div class="main">
        <div class="container">
            <a href="#/" class="report"><img th:src="@{/assets/img/pen.svg}" alt="">
                <p><span>сообщить</span> новость</p></a>
            <a href="#/" class="view"><img th:src="@{/assets/img/view.svg}" alt="">
                <p>Для <span>слабовидящих</span></p></a>
            <a href="index.html" class="logo"><img th:src="@{/assets/img/obozrevatelLogo.png}" alt=""></a>
            <div class="night_mode">
                <input type="checkbox" class="checkbox" id="checkbox"/>
                <label for="checkbox">Ночной режим</label>
            </div>
            <form action="search_page.html" class="search">
                <a><img th:src="@{/assets/img/search.svg}" alt=""></a>
                <div class="input_block">
                    <input type="search" placeholder="Поиск...">
                    <a class="close"><img th:src="@{/assets/img/close.svg}" alt=""></a>
                </div>
            </form>
            <div class="language">
                <a href="#/">Ru <img th:src="@{/assets/img/caret-down.svg}" alt=""></a>
                <div class="box">
                    <a href="#/">Uz</a>
                    <a href="#/">En</a>
                </div>
            </div>
            <div class="date">
                <span th:text="${data.getDay()}"></span>
                <div class="my">
                    <div class="month" th:text="${data.getMonth()}"></div>
                    <div class="year" th:text="${data.getYear()}"></div>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <div class="container">
            <a th:href="@{/auth/}" ><span>Главная</span></a>
            <a th:href="@{/auth/politic}"  ><span>Политика</span></a>
            <a th:href="@{/auth/business}" ><span>Бизнес</span></a>
            <a th:href="@{/auth/cultura}"><span>Культура</span></a>
            <a th:href="@{/auth/razbor}"><span>Разбор</span></a>
            <a th:href="@{/auth/mneniya}"><span>Мнения</span></a>
            <a th:href="@{/auth/novosti}"><span>Новости</span></a>
        </div>
    </nav>
</header>
<div class="post">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="post_title">
                    <h1>В Узбекистане повышают стоимость энергоресурсов. Изучаем, почему новые тарифы всё-таки слишком
                        большие
                    </h1>
                    <div class="quality">
                        <a href="#/" class="hashtag">#Новости</a>
                        <div class="from">Источник: <span>Коммерсант</span></div>
                        <div class="date"><img th:src="@{/assets/img/calendar2.svg}" alt=""> 9 августа</div>
                        <div class="time"><img th:src="@{/assets/img/clock-circular-outline.svg}" alt=""> 18:30</div>
                        <div class="view"><img th:src="@{/assets/img/view2.svg}" alt=""> 332</div>
                    </div>
                </div>
                <div class="context">
                    <p>
                        Правительство решило с 15 августа повысить цены на бензин, дизель, газ, электроэнергию,
                        отопление, воду и
                        проезд в общественном транспорте — словом, на все, что больше всего нужно населению. К этому
                        добавилась
                        невысокая базовая норма потребления электроэнергии с повышенной ценой за перерасход этой нормы,
                        но зато с
                        «бесперебойным питанием».
                    </p>
                    <div class="post_img"><img th:src="@{/assets/img/adventure-calm-waters-conifers-2463833-1@2x.png}" alt=""></div>
                    <p>
                        Правительство решило с 15 августа повысить цены на бензин, дизель, газ, электроэнергию,
                        отопление, воду и
                        проезд в общественном транспорте — словом, на все, что больше всего нужно населению. К этому
                        добавилась
                        невысокая базовая норма потребления электроэнергии с повышенной ценой за перерасход этой нормы,
                        но зато с
                        «бесперебойным питанием».
                    </p>
                    <p>
                        Люди начали это обсуждать (чаще в негативном контексте), и госорганы постарались
                        быстро объяснить, что эти меры крайне необходимы, и так будет лучше для всех. Но оправдания
                        прозвучали не
                        слишком убедительно.
                    </p>
                    <p>
                        обратил внимание на важные детали, которых почему-то нет в сообщениях Минфина.то
                        обсуждать (чаще в негативном контексте), и госорганы постарались быстро объяснить, что эти меры
                        крайне
                        необходимы, и так будет лучше для всех. Но оправдания прозвучали не слишком убедительно.
                    </p>

                </div>
                <div class="smilek">
                    <div class="item">
                        <img th:src="@{/assets/img/thumbs-up-sign_emoji-modifier-fitzpatrick-type-1-2_1f44d-1f3fb_1f3fb@2x.png}"
                             alt="">
                        <span>185</span>
                    </div>
                    <div class="item">
                        <img th:src="@{/assets/img/smiling-face-with-open-mouth-and-smiling-eyes_1f604@2x.png}" alt="">
                        <span>87</span>
                    </div>
                    <div class="item">
                        <img th:src="@{/assets/img/face-with-open-mouth_1f62e@2x.png}" alt="">
                        <span>17</span>
                    </div>
                    <div class="item">
                        <img th:src="@{/assets/img/white-frowning-face_2639@2x.png}" alt="">
                        <span>15</span>
                    </div>
                    <div class="item">
                        <img th:src="@{/assets/img/angry-face_1f620@2x.png}" alt="">
                        <span>22</span>
                    </div>
                    <div class="item">
                        <img th:src="@{/assets/img/thumbs-down-sign_emoji-modifier-fitzpatrick-type-1-2_1f44e-1f3fb_1f3fb@2x.png}"
                             alt="">
                        <span>45</span>
                    </div>
                </div>
                <div class="comment">
                    <div class="quality">
                        <a href="#/" class="hashtag">#Новости</a>
                        <a href="#/" class="comments"><img th:src="@{/assets/img/speech-bubble.svg}" alt=""> 21</a>
                        <a href="#/" class="likes"><img th:src="@{/assets/img/heart.svg}" alt="">185</a>
                    </div>
                    <div class="title">
                        <h1>Комментарии</h1>
                        <a href="#/" class="facebook"><img th:src="@{/assets/img/facebook-logo.svg}" alt=""> Поделиться</a>
                        <a href="#/" class="twitter"><img th:src="@{/assets/img/twitter.svg}" alt=""> Твитнуть</a>
                    </div>
                    <form  action="/" method="post" id="commentForm">
                        <div class="img"><img th:src="@{/assets/img/avatar@2x.png}" alt=""></div>
                        <div class="text">
                            <textarea placeholder="Введите текст сообщения..."></textarea>
                            <a href="#/" class="close"><img th:src="@{/assets/img/cancel-button.svg}" alt=""></a>
                            <div class="foot">
                                <a href="#/"><img th:src="@{/assets/img/paperclip.svg}" alt=""></a>
                                <a href="#/"><img th:src="@{/assets/img/smiling-emoticon-square-face.svg}" alt=""></a>
                            </div>
                        </div>
                        <div class="send">
                            <div class="sign_with">
                                <p>Войти с помощью</p>
                                <a href="#/" class="facebook"><img th:src="@{/assets/img/facebook-logo.svg}" alt=""></a>
                                <a href="#/" class="insta"><img th:src="@{/assets/img/Group.svg}" alt=""></a>
                                <a href="#/" class="twit"><img th:src="@{/assets/img/twitter.svg}" alt=""></a>
                            </div>
                            <a href="#/" class="submit" id="commentBt">Коментировать</a>
                        </div>
                    </form>
                    <div class="users">
                        <div class="item">
                            <div class="img"><img th:src="@{/assets/img/avatar@2x2.png}" alt=""></div>
                            <div class="txt">
                                <div class="author_date">
                                    <a href="#/" class="author">Петкевич Дмитрий</a>
                                    <div class="date">2 года назад</div>
                                </div>
                                <div class="sms">
                                    попросить автора вопроса отметить тот ответ «верным», который помог ему в решении
                                    задачи.
                                    <span><img th:src="@{/assets/img/heart.svg}" alt=""></span>
                                </div>
                                <div class="foot">
                                    <div class="result">1 отметка "Нравится"</div>
                                    <a href="#/">Ответить</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img"><img th:src="@{/assets/img/avatar@2x2.png}" alt=""></div>
                            <div class="txt">
                                <div class="author_date">
                                    <a href="#/" class="author">Петкевич Дмитрий</a>
                                    <div class="date">2 года назад</div>
                                </div>
                                <div class="sms">
                                    попросить автора вопроса отметить тот ответ «верным», который помог ему в решении
                                    задачи.
                                    <span><img th:src="@{/assets/img/heart.svg}" alt=""></span>
                                </div>
                                <div class="foot">
                                    <div class="result">1 отметка "Нравится"</div>
                                    <a href="#/">Ответить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#/" class="more">Читайте также</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sidebar">
                    <div class="col-md-12 type4 card">
                        <div class="inCard">
                            <div class="image">
                                <img th:src="@{/assets/img/Tramp.jpeg}" alt="">
                                <a href="#/" class="hashtag">#Мнения</a>
                            </div>
                            <div class="text">
                                <div class="quality">
                                    <div class="date"><img th:src="@{/assets/img/calendar2.svg}" alt=""> 9 августа</div>
                                    <div class="time"><img th:src="@{/assets/img/clock-circular-outline.svg}" alt=""> 18:30</div>
                                    <div class="view"><img th:src="@{/assets/img/view2.svg}" alt=""> 332</div>
                                </div>
                                <a href="#/">Подорожание мяса пере- делка с чем это связанно? разбираемся далее</a>
                                <p>
                                    В Казахстанско-Немецком университете обсудили итоги экспедиции «От ледников до
                                    Арала»
                                    В Казахстанско-Немецком университете обсудили итоги экспедиции «От ледников до
                                    Арала»
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="material">
                        <div class="box_title">Материалы по теме</div>
                        <div class="big">
                            <a href="#/" class="title">Ташкентский хокимият запустил сайт-опросник с баллами и
                                призами</a>
                            <a href="#/" class="hashtag">#Мнения</a>
                        </div>
                        <div class="list">
                            <div class="item">
                                <a href="#/">Ташкентский хокимият запустил сайт-опросник</a>
                            </div>
                            <div class="item">
                                <a href="#/">Ташкентский хокимият запустил сайт-опросник</a>
                            </div>
                            <div class="item">
                                <a href="#/">Ташкентский хокимият запустил сайт-опросник</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 type4 card">
                        <div class="inCard">
                            <div class="image">
                                <img th:src="@{/assets/img/Tramp.jpeg}" alt="">
                                <a href="#/" class="hashtag">#Мнения</a>
                            </div>
                            <div class="text">
                                <div class="quality">
                                    <div class="date"><img th:src="@{/assets/img/calendar2.svg}" alt=""> 9 августа</div>
                                    <div class="time"><img th:src="@{/assets/img/clock-circular-outline.svg}" alt=""> 18:30</div>
                                    <div class="view"><img th:src="@{/assets/img/view2.svg}" alt=""> 332</div>
                                </div>
                                <a href="#/">Подорожание мяса пере- делка с чем это связанно? разбираемся далее</a>
                                <p>
                                    В Казахстанско-Немецком университете обсудили итоги экспедиции «От ледников до
                                    Арала»
                                    В Казахстанско-Немецком университете обсудили итоги экспедиции «От ледников до
                                    Арала»
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="material">
                        <div class="box_title">Материалы по теме</div>
                        <div class="big">
                            <a href="#/" class="title">Ташкентский хокимият запустил сайт-опросник с баллами и
                                призами</a>
                            <a href="#/" class="hashtag">#Мнения</a>
                        </div>
                        <div class="list">
                            <div class="item">
                                <a href="#/">Ташкентский хокимият запустил сайт-опросник</a>
                            </div>
                            <div class="item">
                                <a href="#/">Ташкентский хокимият запустил сайт-опросник</a>
                            </div>
                            <div class="item">
                                <a href="#/">Ташкентский хокимият запустил сайт-опросник</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="news_line">
        <div class="item">
            <div class="container">
                <a href="#/" class="title">Ташкентский хокимият запустил сайт-опросник с баллами и призами</a>
                <div class="quality">
                    <a href="#/" class="hashtag">#Новости</a>
                    <div class="date"><img th:src="@{/assets/img/calendar2.svg}" alt=""> 9 августа</div>
                    <div class="time"><img th:src="@{/assets/img/clock-circular-outline.svg}" alt=""> 18:30</div>
                    <div class="view"><img th:src="@{/assets/img/view2.svg}" alt=""> 332</div>
                </div>
                <p>
                    Хокимият Ташкента открыл площадку mo.tashkent.uz, на которой будут проводиться опросы по актуальным
                    темам. Жители столицы смогут выразить свое мнение по поводу городской инфраструктуры, экологии,
                    проводимых мероприятий и работы госорганов. ыл площадку mo.tashkent.uz, на которой будут проводиться
                    опросы по актуальным темам.
                </p>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <a href="#/" class="title">Ташкентский хокимият запустил сайт-опросник с баллами и призами</a>
                <div class="quality">
                    <a href="#/" class="hashtag">#Новости</a>
                    <div class="date"><img th:src="@{/assets/img/calendar2.svg}" alt=""> 9 августа</div>
                    <div class="time"><img th:src="@{/assets/img/clock-circular-outline.svg}" alt=""> 18:30</div>
                    <div class="view"><img th:src="@{/assets/img/view2.svg}" alt=""> 332</div>
                </div>
                <p>
                    Хокимият Ташкента открыл площадку mo.tashkent.uz, на которой будут проводиться опросы по актуальным
                    темам. Жители столицы смогут выразить свое мнение по поводу городской инфраструктуры, экологии,
                    проводимых мероприятий и работы госорганов. ыл площадку mo.tashkent.uz, на которой будут проводиться
                    опросы по актуальным темам.
                </p>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="bg"></div>
    <div class="overlay"></div>
    <nav>
        <a href="#/">О проекте</a>
        <a href="#/">Контакты</a>
        <a href="#/">Реклама</a>
        <a href="#/">Правила</a>
        <a href="#/">Политика</a>
    </nav>
    <div class="container">
        <a href="index.html" class="logo"><img th:src="@{/assets/img/1@2x.png}" alt=""></a>
        <p><img th:src="@{/assets/img/copyright.svg}" alt=""> 2019. Новостной портал "Обозреватель.уз"</p>
        <a th:href="@{/auth/plus18}" class="plus18">18 <span>+</span></a>
        <div class="studio"><a href="http://vendy.agency" target="_blank"><img th:src="@{/assets/img/2.svg}" alt=""></a> <span>Разработано <br> агентством <br> vendy</span></div>
    </div>
</footer>
<div class="right_fixed">
    <div class="social">
        <div class="item instagram"><a href="#/"><img th:src="@{/assets/img/instagram.svg}" alt=""></a></div>
        <div class="item facebook"><a href="#/"><img th:src="@{/assets/img/facebook-logo.svg}" alt=""></a></div>
        <div class="item telegram"><a href="#/"><img th:src="@{/assets/img/telegram-logo.svg}" alt=""></a></div>
    </div>
    <a href="#header" class="arrow"><img th:src="@{/assets/img/right-arrow%20(1).svg}" alt=""></a>
</div>
<div class="modal modal_report">
    <div class="bg"></div>
    <div class="modal_container">
        <div class="close"><img th:src="@{/assets/img/cancel-button.svg}" alt=""></div>
        <form  method="post" action="/auth/message" id="sendForm">
            <div class="line">
                <textarea name="text" id="news" placeholder="Новость..."></textarea>
            </div>
            <div class="line"><input type="number" placeholder="Тел." id="number" name="phoneNumber"></div>
            <div class="line">
                <input type="text" placeholder="Имя" id="name" autocomplete="off" name="username">
                <div class="anonym">
                    <label for="anonym">анонимно</label>
                    <input type="checkbox" id="anonym">
                </div>
            </div>
            <button type="submit" id="sendBtn">Отправить</button>
        </form>
        <div class="about">
            <h1>Сообщить <span>новость</span></h1>
            <img th:src="@{/assets/img/illustr@2x.png}" alt="">
        </div>
    </div>
</div>
<div class="modal modal_sign_in">
    <div class="bg"></div>
    <div class="modal_container">
        <div class="close"><img th:src="@{/assets/img/cancel-button.svg}" alt=""></div>
        <div class="header">
            <a href="#/"><img th:src="@{/assets/img/obozrevatelLogo.png}" alt=""></a>
            <img th:src="@{/assets/img/user%20(1).svg}" alt="">
        </div>
        <form method="post">
            <div class="line">
                <input type="text" placeholder="Логин" id="login" name="login">
                <img th:src="@{/assets/img/form_user.svg}" alt="" class="login_img">
            </div>
            <div class="line">
                <input type="password" placeholder="Пароль" id="password" name="password">
                <img th:src="@{/assets/img/lock.svg}" alt="" class="password_img">
                <div class="hide">
                    <a href="#/" class="hiden_icon"><img th:src="@{/assets/img/hidden.svg}" alt=""></a>
                    <a href="#/" class="visible_icon"><img th:src="@{/assets/img/visibility.svg}" alt=""></a>
                </div>
            </div>
            <div class="line">
                <div class="remember">
                    <input type="checkbox" class="checkbox" id="remember" />
                    <label for="remember">Запомнить меня</label>
                </div>
                <a href="#/" class="forget">Забыли пароль?</a>
            </div>
            <div class="line">
                <button type="submit">Вход</button>
            </div>
            <div class="line with">
                <a href="#/"><span><img th:src="@{/assets/img/form_google.svg}" alt=""> Продолжить с google</span></a>
            </div>
            <div class="line with">
                <a href="#/"><span><img th:src="@{/assets/img/form_facebook.svg}" alt="">Продолжить с facebook</span></a>
            </div>
            <div class="line with">
                <a href="#/"><span><img th:src="@{/assets/img/form_instagram.svg}" alt="">Продолжить с instagram</span></a>
            </div>
            <a href="#/" class="register">Регистрация</a>
        </form>
    </div>
</div>
<div class="modal modal_sign_up">
    <div class="bg"></div>
    <div class="modal_container">
        <div class="close"><img th:src="@{/assets/img/cancel-button.svg}" alt=""></div>
        <div class="header">
            <a href="#/"><img th:src="@{/assets/img/obozrevatelLogo.png}" alt=""></a>
            <img th:src="@{/assets/img/user%20(1).svg}" alt="">
        </div>
        <form action="/auth/signup" method="post">
            <div class="line">
                <label for="fullname">Полное имя</label>
                <input type="text" id="fullname" name="fullname" placeholder="Александ Илясов">
                <img th:src="@{/assets/img/form_user.svg}" alt="">
            </div>
            <div class="line">
                <label for="email">E-mail</label>
                <input type="email" placeholder="Aleks@gmail.com" id="email" name="email">
                <img th:src="@{/assets/img/form_email.svg}" alt="">
            </div>
            <div class="line">
                <label for="select_login">Выберите логин</label>
                <input type="text" placeholder="Alexilyas" id="select_login" name="username">
                <img th:src="@{/assets/img/form_login.svg}" alt="">
            </div>
            <div class="line">
                <label for="select_password">Выберите пароль</label>
                <input type="password" placeholder="**********" id="select_password" name="newPassword">
                <img th:src="@{/assets/img/lock.svg}" alt="">
                <div class="hide1">
                    <a href="#/" class="hiden_icon"><img th:src="@{/assets/img/hidden.svg}" alt=""></a>
                    <a href="#/" class="visible_icon"><img th:src="@{/assets/img/visibility.svg}" alt=""></a>
                </div>
            </div>
            <div class="line">
                <label for="select_password2">Подтвердите пароль</label>
                <input type="password" placeholder="**********" id="select_password2" name="prePassword">
                <img th:src="@{/assets/img/lock.svg}" alt="">
                <div class="hide2">
                    <a href="#/" class="hiden_icon"><img th:src="@{/assets/img/hidden.svg}" alt=""></a>
                    <a href="#/" class="visible_icon"><img th:src="@{/assets/img/visibility.svg}" alt=""></a>
                </div>
            </div>
            <button type="submit">Регистрация</button>
            <p>Регистрируясь на данном сайте я принимаю <span>условия использования</span> и политику <span>конфиденциальности</span>.</p>
        </form>
    </div>
</div>
<script th:src="@{/assets/js/html5shiv.js}"></script>
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/jquery.marquee.min.js}"></script>
<script th:src="@{/assets/js/desktop.js}"></script>
<script th:src="@{/assets/js/comment.js}"></script>
<script th:src="@{assets/js/message.js}"></script>
<script>

</script>
</body>
</html>